body {
    padding-top: 80px;
}
#nav-logo {
    width: 20rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}
nav.navbar a.oc-toggle {
    color: #fff;
}
@media (min-width: 992px) {
    nav.navbar a.oc-toggle.right {
        display: none;
    }
}
.bg-primary-gradient {
    background: rgba(92,53,102,0.9);
    background: -moz-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(92,53,102,1)), color-stop(100%, rgba(102,63,149,1)));
    background: -webkit-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
    background: -o-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
    background: -ms-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
    background: linear-gradient(to right, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3566', endColorstr='#663f95', GradientType=1 );
}
img { max-width: 100%; }
.drop-shadow { box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15); }

a { color: rgba(102,63,149,1); }
a:hover {text-decoration: none; color: #5bc0de;}

#scroller {
  position: fixed;
  bottom: -50px;
  right: 15px;
  z-index: 888888;
  transition: all 300ms ease 0s;
  font-size: 32px;
}
#scroller a:hover {
  cursor: pointer;
}
body.scrolled #scroller {
  bottom: 5px;
}

figure.image figcaption { margin-top: 4px; margin-left: 1rem; margin-bottom: 1rem; font-size: 90%; }

blockquote { 
    font-size: 0.95rem;
    padding: 0.75rem;
    border: 4px solid #666;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}
blockquote:before {
    content: "\f0eb";
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3rem;
    float: right;
    margin-top: -0.3rem;
    color: rgba(92,53,102,0.8);
}
blockquote.quote { border: 4px solid rgba(92,53,102,0.8); }
blockquote.quote:before {
    content: "\f10e";
    color: #666;
}
div.tab-pane { padding-top: 1rem; }

div.toc ul { padding-left: 25px; font-size: 1.5rem; }

div.toc > ul { list-style-type: none; margin-left: 0; padding-left: 0; font-size: 1.8rem; }

code.highlighter-rouge { color: #5c3566; }

a code.highlighter-rouge { background: rgba(102,63,149,1); color: #fff; border: 0; padding: 0.1rem 0.4rem; border-radius: 0.25rem;}
a code.highlighter-rouge:hover { background: #5bc0de;}

article.classdoc { margin-top: -50px;}
article.classdoc h2,
article.classdoc h3 { margin-top: 0; padding-top: 50px; padding-bottom: 1rem; }

article.classdoc h3 { border-bottom: 3px double #e4e4e4; }

article.classdoc blockquote { margin-top: 2rem; }

ul.page-tags { list-style-type: none; margin-left: 0; padding-left: 0; }

ul.page-tags li { display: inline-block; margin-right: 0.4rem; }
a.badge { font-weight: 600;}
.oc-panel ul {
    margin-left: 0;
    padding-left: 1rem;
    list-style-type: none;
    font-size: 1.05rem;
}
.oc-panel ul ul {
    list-style-type: circle;
    font-size: 0.95rem;
}

h1 small {
    color: #666;
    font-weight: 300;
}
footer {
    min-height: 12rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.95rem;
    padding: 2rem 0 2.5rem;
}
ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
.bg-primary-gradient a {
    color: white;
}
.bg-primary-gradient a:hover {
    color: #5bc0de;
}
.bg-primary-gradient a.btn:hover {
    color: white;
}
