---
permalink: /components/tour/episodes/desktop-nav
---
<div class="episode" data-chapters='5'>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Going home</h5>
            <img src="/img/tour/episodes/desktop-nav/home.svg" class="img img-fluid img-responsive">
            <p>On every page, you'll find our slanted page header.</p>
            <p>Click the <em>Freesewing</em> header or our logo to return to the home page.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Menu</h5>
            <img class="tour-mobile" src="/img/tour/episodes/desktop-nav/menu.svg">
            <p>At the lower end of the page header sits the menu.</p>
            <p>The menu is the main way to nagivate the site.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
        <h5>Breadcrumbs</h5>
        <img src="/img/tour/episodes/desktop-nav/breadcrumbs.svg" class="img img-fluid img-responsive">
        <p>Breadcrumbs near the top of the page show you where you are.</p>
        <p>You can tap these breadcrumbs to navigate. The first breadcrumb always takes you to the home page.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Modal windows</h5>
            <img class="tour-mobile" src="/img/tour/episodes/desktop-nav/modal.svg">
            <p>Some content, like the login form, loads in a popup that covers the screen.</p>
            <p>Click the cross icon in the bottom right corner to close them, and return to the page underneath.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of this guide</h5>
            <p>Remember, the menu is at the top, modal windows close at the bottom right.</p>
            <p>Now <a href="#tour-wrapper" class="tour-home">check out some of the other guides</a> to learn more about what this website can do for you.</p>
        </blockquote>
    </div>
</div>
