---
permalink: /components/tour/episodes/draft
---
<div class="episode" data-chapters='10'>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Navigate to 'New draft'</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>Once logged-in, click <b>New draft</b> in the main menu.</p>
            <p>Or <a href="/draft" target="_BLANK">click this link</a> to open it in a new window.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Pick a pattern to draft</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>You'll get a list of patterns. Click the one you want to draft.</p>
            <p>If you know the name, these's a handy list of all names at the top.</p>
        </blockquote>
    </div>
        <div class="chapter">
        <blockquote class="tour">
            <h5>Note the required measurements</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>The next step is to pick a model.</p>
            <p>It's important to note that you can only choose models that have all required measurements.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Choose your model</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>Next, you'll get a list of all models with the required measurements.</p>
            <p>Click the model for which you'd like to draft your pattern.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Pick your options</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>Next you can configure your draft.</p>
            <p>You do so by adjusting the options in the different sections.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>About options</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>The <b>General</b> options are the same for every pattern.</p>
            <p>Other options differ from pattern to pattern.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Reset and Help</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>When you change an option, the <b>Reset</b> button allows you to set it back to its default.</p>
            <p>If you are uncertain, the <b>Help</b> button will show help for the option.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Draft your pattern</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>When you're happy with your choices, click the <b>Draft pattern</b> button at the bottom.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Congratulations, you're done</h5>
            <a href="/img/tour/episodes/draft/draft.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/draft/draft.svg">
            </a>
            <p>Your pattern will now be drafted for you.</p>
            <p>When it's ready, you'll be taken to the draft's page where you can study or download it.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of this guide</h5>
            <p>You can also redraft or fork a draft.</p>
        </blockquote>
    </div>
    </blockquote>
</div>
