---
permalink: /components/tour/episodes/login
---
<div class="episode" data-chapters='7'>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Navigate to the login form</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>Click either <b>Login</b> or <b>Sign up</b> in the main menu.</p>
            <p>Or <a href="/login" target="_BLANK">click this link</a> to open it in a new window.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Switch to the login tab if needed</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>If you used a <b>Sign up</b> link, you'll need to click on the <b>Login</b> tab to reveal the login form.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter your email address</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>Enter the email address you signed up with in the field marked <b>Email address</b>.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter a password</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>Enter your password in the field marked <b>Password</b>.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Click the 'Sign up' button</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>Now click the <b>Login</b> button.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Check your inbox</h5>
            <a href="/img/tour/episodes/login/login.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/login/login.svg">
            </a>
            <p>The login overlay will disappear and you are now logged in.</p>
            <p>If you experience any issues, try reloading the page.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of this guide</h5>
            <p>If you want to logout, there's a link for that in the <b>Account</b> section of the menu.</p>
            <p>If you don't logout, we'll remember you for 4 weeks after which we'll ask you to login again.</p>
        </blockquote>
    </div>
    </blockquote>
</div>
