---
permalink: /components/tour/episodes/mobile-nav
---
<div class="episode" data-chapters='6'>
    <div class="chapter">
        <div class="mobile-screen" style="background-image: url('/img/tour/episodes/mobile-nav/home.svg');">
            <h5>Going home</h5>
            <p>On every page, you'll find the slanted page header at the top.</p>
            <p>Tap the <em>Freesewing</em> header, the text below it, or our logo to return to the home page.</p>
        </div>
    </div>
    <div class="chapter">
        <div class="mobile-screen" style="background-image: url('/img/tour/episodes/mobile-nav/breadcrumbs.svg');">
            <h5>Breadcrumbs</h5>
            <p>As you navigate the site, breadcrumbs at the top of the page show you where you are.</p>
            <p>Tap the breadcrumbs to go to that page. The fisrt breadcrumb always takes you to the home page.</p>
        </div>
    </div>
    <div class="chapter">
        <div class="mobile-screen" style="background-image: url('/img/tour/episodes/mobile-nav/menu.svg');">
            <div class="text">
                <h5>Menu</h5>
                <p>The menu icon at the bottom right corner opens the menu</p>
                <p>Tap anywhere outside the menu to close it again.</p>
            </div>
        </div>
    </div>
    <div class="chapter">
        <div class="mobile-screen" style="background-image: url('/img/tour/episodes/mobile-nav/toc.svg');">
            <div class="text">
                <h5>Table of contents</h5>
                <p>On pages with a table of contents, there's second icon left from the menu icon the bottom right corner.</p>
                <p>Tapping it will open the table of contents. Tap anywhere outside the table of contents to close it again.</p>
            </div>
        </div>
    </div>
    <div class="chapter">
        <div class="mobile-screen" style="background-image: url('/img/tour/episodes/mobile-nav/modal.svg');">
            <div class="text">
                <h5>Modal windows</h5>
                <p>Some content, like these guides or the login form, load in a modal window that overlays the entire screen.</p>
                <p>Such modal windows can be closed with the cross icon in the top right corner, revealing once again the page underneath.</p>
            </div>
        </div>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>You're reached the end of this guide</h5>
            <p>Remember, bottom right to open the menu, top logo to go to the home page.</p>
            <p>Or why not <a href="#tour-wrapper" class="tour-home">check out some of the other guides</a> to learn more about what this website can do for you.</p>
        </blockquote>
    </div>
</div>
