---
permalink: /components/tour/episodes/model
---
<div class="episode" data-chapters='12'>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Navigate to 'Your models'</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>Once logged-in, click <b>Your models</b> in the <b>Account</b> section of the main menu.</p>
            <p>Or <a href="/models" target="_BLANK">click this link</a> to open it in a new window.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Click the 'Add model' button</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>We're going to add a model. Click the <b>Add model</b> button to get started.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter a name</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>You need to enter a name for your model. It can be whatever you want.</p>
            <p>A name is handy for telling models apart.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Click Continue</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>Click the <b>Continue</b> button go on.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Pick a shape</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>If your model has breasts, click the slider to make it slide to the right.</p>
            <p>When you're happy with your choice, click the <b>Add model</b> button.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>The model page</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            <p>Your model is created, and you are taken to the model's page.</p>
            <p>Now that the model exists, we'll look into configuring it.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Model settings</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            <p>Click the <b>Settings</b> button to pull up the model settings screen.</p>
            <p>Here, you can update the name, shape, units and picture of your model.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Close the settings modal</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>When you're happy, close the settings modal window.</p>
            <p>We're going to add measurements next.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Add measurements</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>Scroll down the model page to the <b>Measurements</b> section.</p>
            <p>Click the plus sign for the measurement you want to add.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter measurement value</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>A modal window will appear where you can enter the value.</p>
            <p>Click the <b>Show instructions</b> button for info on how to measure.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter measurement value</h5>
            <a href="/img/tour/episodes/model/model.svg" target="_BLANK" title="Open this animation in a new window">
                <img class="tour-mobile" src="/img/tour/episodes/model/model.svg">
            </a>
            <p>Enter the value of your model's measurement and click the <b>Save</b> button.</p>
            <p>Repeat this for all other measurements you want to add.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of this guide</h5>
            <p>You can also add multiple models, or remove them again.</p>
        </blockquote>
    </div>
    </blockquote>
</div>
