---
permalink: /components/tour/episodes/signup
---
<div class="episode" data-chapters='8'>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Navigate to the sign up form</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Click <b>Sign up</b> in the main menu.</p>
            <p>Or <a href="/signup" target="_BLANK">click this link</a> to open it in a new window.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter your email address</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Enter your email address in the field marked <b>Email address</b>.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Enter a password</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Choose a password and enter it in the field marked <b>Password</b>.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Click the 'Sign up' button</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Now click the sign up button.</p>
            <p>After a while a message saying <b>Great, now go check your inbox</b> will appear.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Check your inbox</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Check your inbox for an email sent from mg@freesewing.org.</p>
            <p>Can't find it? Perhaps it's in your spam folder.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>Click the link inside the email</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>In the email is a link to confirm your account.</p>
            <p>Click it and you will be activated and taken to your account page.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour">
            <h5>You're done</h5>
            <img class="tour-mobile" src="/img/tour/episodes/signup/signup.svg">
            <p>Congratulations, you are now signed up.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of this guide</h5>
            <p>If you want, you can re-send the activation email.</p>
            <p>There's a link to do so on the bottom of the sign up form.</p>
        </blockquote>
    </div>
    </blockquote>
</div>
