---
permalink: /components/tour/episodes/welcome
---
<div class="episode" data-chapters='6'>
    <div class="chapter">
        <blockquote class="tour what">
            <h5>What is this?</h5>
            <p>This website drafts <a href="/patterns">sewing patterns</a> to your <a href="/docs/measurements">measurements</a><p>
            <p>We also provide <a href="/docs/patterns/">detailed instructions</a> on how to sew them into garments.</p>
            <p>Last but not least, we share the <a href="/docs/repositories">software</a> that makes this happen.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour who">
            <h5>Whom is it for?</h5>
            <p><a href="/docs/#for-makers">For makers</a>: people who sew or want to learn how to.</p>
            <p><a href="/docs/#for-designers">For designers</a> who'd like to design using our platform.</p>
            <p><a href="/docs/#for-developers">For developers</a> interested in our code.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour cost">
            <h5>How much does it cost?</h5>
            <p>Everything is free of charge. We are <b>not a business</b>, but a community project.</p>
            <p>In addition, <a href="/about/pledge">we pledge</a> that all <a href="/donate">donations</a> go to <a href="http://www.msf.org/" target="_BLANK" rel="nofollow">M&eacute;decins Sans Fronti&egrave;res (MSF)</a>.</p>
            <p>That's right, this website drafts sewing pattern <b>and</b> raises money for charity.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour work">
            <h5>How does it work?</h5>
            <p>Our software uses your <a href="/docs/measurements">measurements</a> and pattern options to draft a pattern for you on the fly.</p>
            <p>It outputs <a href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics" target="_BLANK" rel="nofollow">SVG</a> (because SVG rocks), 
            but we can convert it to PDF for you for printing</p>
            <p>Or try <a href="/docs/core/classdocs/themes/core/paperless" target="_BLANK" rel="nofollow">our paperless theme</a> to save trees, and time.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tour start">
            <h5>How do I get started?</h5>
            <p><a href="/signup">Sign up</a> and create a model so you can add measurements to it. Then, simply create a new draft.</p>
            <p>Need a hand? Our tour guide has episodes on how to sign up, how to add a model and measurements, and how to generate your first draft.</p>
        </blockquote>
    </div>
    <div class="chapter">
        <blockquote class="tip">
            <h5>This is the end of the tour</h5>
            <p>Now that you've got an idea what freesewing is all about, feel free to click around a bit, or perhaps read our blog.</p>
            <p>Or <a href="#" class="tour-home">check out some of the other episodes in our tour guide</a> to learn more about what this website can do for you.</p>
        </blockquote>
    </div>
</div>
