.lazyload { 
    display: block; 
    width: 100%; 
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}
.lazyloaded { 
    display: block; 
    width: 100%; 
}
.float-right-on-large {
    max-width: 40%;
    float: right;
    margin: 0 0 0.5rem 0.5rem;
}
.float-left-on-large {
    max-width: 40%;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
}
@media (max-width: 767px) {
    .instruction-img {
        display: block;
        clear: both;
    }
    .float-right-on-large,
    .float-left-on-large {
        max-width: 100%;
        float: none;
        display: block;
        margin: auto;
        text-align: center;
        clear: both;
    }
}
@media (min-width: 768px) {
    .instruction-img {
        max-width: 40%;
        float: right;
        margin-left: 1rem;
    }
}

