{% include figure.html url="/img/patterns/simon/options/buttonPlacketStyle.png" description="The buttonPlacketStyle option" %}
<p>Do you want the button placket to be sewn in place (classic style), or folded back and held in place by the buttons (seamless style)?</p>

<blockquote class="tip">
  <p>Seamless is less work, and it looks great.</p>
</blockquote>

<blockquote class="warning">
  <p>As seamless is only possible on a <strong>cut-on</strong> on placket, this option is ignored if you chose <strong>seperate</strong> as your button placket type.</p>
</blockquote>
