{% include measurementTabs.html measurement="highpointshouldertobust" onlyBreasts="true" %}

<p>The <strong>high point shoulder (HPS) to bust</strong> measurement runs from your HPS down to the line that forms you bust span.</p>

<p>The HPS is where your shoulder seam would meet your neck. The point is situated where your neck meets your shoulder. If you put a marble there, it should not roll forward or backward, but roll towards your shoulder (as in, it should sit in the middle)</p>
<p>Tp measure your HPS to bust, first localize your HPS point. Then measure straight down to the line that forms your chest circumference/bust span.</p>

<p>The point of this measurement is to locate the fullest part of your bust vertically on your torso.</p>
