<div class="consent" id="consent-container-profile">
    
    <h3 class="profile-consent-given hidden">You have given your consent to process your <b>profile data</b></h3>
    <p class="text-center profile-consent-given hidden"><a href="#" id="consent-revoke-profile" class="btn btn-outline-danger">Revoke consent</a></p>
    <h3 class="profile-consent-not-given">Do you give your consent to process your <b>profile data</b>?</h3>
   
    <div class="consent-details" id="consent-details-profile"> 
    <h4>
        <i class="fa fa-folder-open-o" aria-hidden="true" style="color: #5cb85c;"></i>
        What is profile data?
    </h4>
    <p>Your <b>email address</b> and <b>password</b>. An optional <b>profile picture</b>, <b>username</b>, and <b>social media accounts</b>.</p> 

    <h4>
        <i class="fa fa-cog" aria-hidden="true" style="color: #5cb85c;"></i>
        Why do we need it?
    </h4>
    <p>To <b>authenticate</b> you, <b>contact</b> you when needed, and build an online <b>community</b>.</p>

    <h4>
        <i class="fa fa-clock-o" aria-hidden="true" style="color: #5cb85c;"></i>
        How long do we keep it?
    </h4>
    <p>Until you <b>remove</b> your account, or <b>revoke</b> this consent.</p>

    <h4>
        <i class="fa fa-share-alt" aria-hidden="true" style="color: #5cb85c;"></i>
        Do we share it?
    </h4>
    <p><b>No</b>, never.</p>
    </div>

    <div id="consent-toggle-profile" class="toggle-consent profile-consent-not-given"></div>
</div>
