<div class="consent" id="consent-container-model">
    
    <h3 class="model-consent-given hidden">You have given your consent to process your <b>model data</b></h3>
    <p class="text-center model-consent-given hidden"><a href="#" id="consent-revoke-model" class="btn btn-outline-danger">Revoke consent</a></p>
    <h3 class="model-consent-not-given">Do you give your consent to process your <b>model data</b>?</h3>
   
    <div class="consent-details" id="consent-details-model"> 
    <h4>
        <i class="fa fa-folder-open-o" aria-hidden="true" style="color: #5cb85c;"></i>
        What is model data?
    </h4>
    <p>Body <b>measurements</b>. An optional <b>name</b> and <b>notes</b>.</p> 

    <h4>
        <i class="fa fa-cog" aria-hidden="true" style="color: #5cb85c;"></i>
        Why do we need it?
    </h4>
    <p>To generate <b>made-to-measure sewing patterns</b>. To help you <b>organize your models</b>.</p>

    <h4>
        <i class="fa fa-clock-o" aria-hidden="true" style="color: #5cb85c;"></i>
        How long do we keep it?
    </h4>
    <p>Until you <b>remove</b> the model, your account, or <b>revoke</b> this consent.</p>

    <h4>
        <i class="fa fa-share-alt" aria-hidden="true" style="color: #f0ad4e;"></i>
        Do we share it?
    </h4>
    <p><b>Yes</b>. We publish <b>anonymized measurement</b> as part of <a href="/data">our <b>open data</b> efforts</a>.</p>
    <p><small><em>Note: You can excercise <a href="#" id="right-to-object-info">your right to object</a> to be excluded from this dataset.</em></small></p>
    <div id="right-to-object-details" class="consent-details-sub">
        <h5>Understanding your right to object?</h5>
        You have the right to object to your data being used for for research and statistics,
        even when you give your consent to process your model data to generate made-to-measure sewing patterns.
        <br><br>
        By default, your consent here means that fully anonymized data about your models will be included in our open dataset.
        <br><br>
        If you do not want that to happen, but still want made-to-measure patterns, then first give your consent, and
        then object to the use of your data for research and statistics.
    </div>
    </div>

    <div id="consent-toggle-model" class="toggle-consent model-consent-not-given"></div>
</div>
