<figure class="image">
    <a href="{{ include.url }}" target="_BLANK" title="Open this image in a new window">
        <img 
            class="img img-responsive drop-shadow" 
            src="{{ include.url }}" 
            {% if(include.description) %}
                alt="{{ include.description }}"
            {% else %}
                alt=" "
            {% endif %}
        >
    </a>
    {% if(include.description) %}
        <figcaption>{{ include.description }}</figcaption>
    {% endif %}
</figure>
