<header class="header" id="header">
    <div class="skew">
        <div class="header-inner">
            <div id="top-logo">
                <a href="/" title="To the homepage"><img src="/img/logo/logo.svg" alt="The freesewing logo" /></a>
            </div>
            <div class="masthead">
                <span id="masthead-main">
                    <a href="/" class="white" title="Home" >freesewing</a>
                </span>
                <span id="masthead-sub">
                    <a href="/" class="white" title="Home" >an open source platform for made-to-measure sewing patterns</a>
                </span>
                {% include top-menu.html %}
            </div>
        </div>
    </div>
</header>
