{% if include.pattern == 'jaeger' %}
    {% assign format = 'svg' %}
{% else %}
    {% assign format = 'png' %}
{% endif %}
{% for patternholder in site.data.freesewing.patterns %}
    {% for fullpattern in patternholder %}
        {% if fullpattern.info.handle == include.pattern %}
            {% for option in fullpattern.options %}
                {% if option[0] == include.option %}
                    {% assign optionTitle = option[1].title %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-md-6">
        <figure class="image">
            <a 
                href="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.{{ format }}" 
                data-lightbox="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.{{ format }}"
                target="_BLANK" 
                title="The <em><big>{{ optionTitle }}</big></em> option"
            >
                <img class="img img-responsive drop-shadow" src="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.{{ format }}" alt="The {{ include.option }} option">
            </a>
            <figcaption>The <b>{{ optionTitle }}</b> option</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure class="image">
            <a 
                href="/img/patterns/{{ include.pattern }}/options/{{ include.option }}-sample.svg" 
                data-lightbox="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.-sample.svg"
                target="_BLANK" 
                title="Sampling of the <em><big>{{ optionTitle }}</big></em> option"
            >
                <img class="img img-responsive drop-shadow" src="/img/patterns/{{ include.pattern }}/options/{{ include.option }}-sample.svg" alt="Sampling of the {{ include.option }} option">
            </a>
            <figcaption>Sampling of the <b>{{ include.option }}</b> option</figcaption>
        </figure>
    </div>
</div>
