<p>
{% for namespace in site.data.freesewing.namespaces %}
<small><a class="noline" href="#{{namespace[0]}}">{{ namespace[0] }} patterns</a>:</small> 
    {% for pattern in namespace[1] %}
       {% assign thisPattern = site.data.freesewing.mapping.handleToPattern[pattern] %} 
       {% unless site.data.freesewing.patterns[thisPattern]info.lab %}
            <a class="mx-1" href="/patterns/{{ pattern }}">{{ pattern | capitalize }}</a>
        {% endunless %}
    {% endfor %}
    <br>
{% endfor %}
</p>



{% for namespace in site.data.freesewing.namespaces %}
	<h2 id="{{namespace[0]}}">{{ namespace[0] }} patterns</h2> 
	<div class="row">
	{% for patternholder in site.data.freesewing.patterns %}
	    {% for pattern in patternholder %}
	        {% if pattern.info.handle %}
	            {% assign pname =  site.data.freesewing.mapping.handleToPattern['{{pattern.info.handle}}'] %}
	            {% assign thisnamespace = site.data.freesewing.mapping.handleToNamespace[pattern.info.handle] %}
				{% if namespace[0] == thisnamespace %}
                    {% unless pattern.info.lab %}
				
	            <div class="col-lg-3 col-md-4 col-6 mb-4 {{ namespace[0] | downcase }}" id="pattern-{{ pattern.info.handle }}">
	                <div class="card m600 hover-shadow">
	                    <a class="pattern-link" href='/patterns/{{ pattern.info.handle | downcase }}' title="Read more"><img class="card-img-top pattern-img" src="/img/patterns/{{ pattern.info.handle }}/cover.jpg" alt="The {{ pattern.info.handle }} pattern"></a>
	                    <div class="card-block">
	                        <a class="pattern-link" href='/patterns/{{ pattern.info.handle | downcase }}' title="Read more"><h4 class="card-title pattern-title text-capitalize">{{ pattern.info.handle }}</h4></a>
	                        <p class="lead card-text pattern-tagline">{{ pattern.info.description }}</p>
                            <!-- Hide tags until we allow filtering through them
	                        <ul class="tags">
	                            <li><span class="badge {{ namespace[0] | downcase }}">{{ namespace[0] | downcase }}</span></li>
	                            {% for tag in pattern.info.tags %}
	                                <li><span class="badge badge-primary {{ tag | downcase }}">{{tag | downcase }}</span></li>
	                            {% endfor %}
	                        </ul>
                            -->
	                    </div>
	                </div>
	            </div>
	            {% endunless %}
	        {% endif %}
	        {% endif %}
	    {% endfor %}
	{% endfor %}
	</div>
{% endfor %}
