---
layout: notoc
---
{% include header.html %}
<div class="container">
    <div class="row non-patrons-only hidden" id="patrons-banner">
        <div class="col-md-10 offset-md-1">
                 {% include blockquote.html
                     bg='transparent linear-gradient(45deg, rgb(255, 91, 119) 0%, rgb(251, 66, 102) 50%, rgb(243, 52, 87) 71%, rgb(255, 77, 109) 100%) repeat scroll 0% 0%;'
                     icon='check'
                     tcolor='#fff'
                     icolor='#fff'
                     content="<h3>Join the Freesewing Patrons</h3><h4>We are building a bedrock of loyal supporters to ensure a sustainable future for freesewing.org, our code, our patterns, and our community.</h4><p class='text-right'><a href='/patrons/join' class='btn btn-outline-white mt-2'>Find out more</a></p>"
                 %}
        </div>
    </div>
    {% include breadcrumbs.html %}
    <div class="row mt-5" id="posthead">
        <div class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5">
            <div class="row">
                <div class="col post-meta"><a href="/blog/category/{{ page.categories }}" title="Browse other posts in this category">{{ page.categories }}</a></div>
                <div class="col post-meta text-center">{{ page.date | date: "%A, %B %-d, %Y" }}</div>
                <div class="col post-meta text-right"><a href="/blog/author/{{ page.author | downcase | replace: ' ', '' }}" title="Browse other posts by this author">{{ page.author }}</a></div>
            </div>
            <figure class="image">
                <a target="_BLANK" href="/img{{page.url}}high_{{ page.img }}" title="Open hi-res picture in a new window">
                    <img 
                        src="/img{{ page.url }}lqip_{{ page.img }}" 
                        data-sizes="auto"
                        data-srcset="
                            /img{{ page.url }}lqip_{{ page.img }} 25w,
                            /img{{ page.url }}low_{{ page.img }} 500w,
                            /img{{ page.url }}med_{{ page.img }} 1000w,
                            /img{{ page.url }}high_{{ page.img }} 2000w"
                        alt="{{ page.caption | strip_html}}" 
                        class="lazyload drop-shadow"
                    >
                </a>
                {% if page.caption %}
                <figcaption>{{ page.caption }}</figcaption>
                {% endif %}
            </figure>
            <h1 class="post">{{ page.title | escape }}</h1>
        </div>
    </div>
    <div class="row" id="post">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 post">
            <article> 
                {{ content }}
            </article>
        </div>
    </div>
    <div class="row post-meta mt-2">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="row">
                <div class="col">{% if page.previous %} <a href="{{ page.previous.url }}" alt="Read the previous post"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous post</a>{% endif %}</div>
                <div class="col text-right">{% if page.next %} <a href="{{ page.next.url }}" alt="Read the next post">Next post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>{% endif %}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% include sharing-buttons.html %}
        </div>
    </div>
    <div class="row mt-2">
        <div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
    </div>
</div><!-- /.container -->
