---
layout: notoc
---
{% include header.html %}
{% if page.action != 'homepage' %}
{% unless page.nopatronbanner %}
<div class="container">
    <div class="row non-patrons-only hidden" id="patrons-banner">
        <div class="col-md-10 offset-md-1">
                 {% include blockquote.html
                     bg='transparent linear-gradient(45deg, rgb(255, 91, 119) 0%, rgb(251, 66, 102) 50%, rgb(243, 52, 87) 71%, rgb(255, 77, 109) 100%) repeat scroll 0% 0%;'
                     icon='check'
                     tcolor='#fff'
                     icolor='#fff'
                     content="<h3>Join the Freesewing Patrons</h3><h4>We are building a bedrock of loyal supporters to ensure a sustainable future for freesewing.org, our code, our patterns, and our community.</h4><p class='text-right'><a href='/patrons/join' class='btn btn-outline-white mt-2'>Find out more</a></p>"
                 %}
        </div>
    </div>
</div>
{% endunless %}
<h1 class="page-title">{{ page.title | escape }}</h1>
<div class="container">
    <div class="row">
        <div class="col">{% include breadcrumbs.html %}</div>
    </div>
</div>
{% endif %}

{{ content }}
<div class="container">
    <div class="row">
        <div class="col">
            {% include tags.html %}
        </div>
    </div>
</div>
<div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
