{% include measurementTabs.html measurement="highbust" onlyBreasts="true"%}

<p>The <strong>high bust</strong> measurement is your chest circumference measured just under your arms, above the fullest part of your bust.</p>

<p>The point of the high bust measurement is to get an idea of the chest circumference without taking breasts into account. As such, this measurements is only relevant for models with breasts.</p>

<p>To measure your <strong>high bust</strong>, wrap the tape measure around your chest just under your arms. 
You might not be able to keep it horizontal (parallel to the floor), but that's ok.</p>
