blockquote { 
    font-size: 0.95rem;
    padding: 1.25rem;
    border: 2px solid rgba(92,53,102,0.8);
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0,0,0,0.25);
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "\f0eb";
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3rem;
    float: right;
    margin-top: -0.3rem;
    color: rgba(92,53,102,0.8);
}
blockquote.quote { border-color: #666; }
blockquote.quote:before {
    content: "\f10e";
    color: #666;
}
blockquote.comment { border-color: #5bc0de; }
blockquote.comment:before {
    content: "\f0e5";
    color: #5bc0de;
}
article blockquote { margin-top: 2rem; }
