blockquote { 
    padding: 2rem;
    margin: 1.5rem 0.5rem;
    background: $white;
    border-left: 4px solid $gray;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "";
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3em;
    float: right;
    margin-top: -10px;
    color: $gray-dark;
}

blockquote.tip,
blockquote.quote,
blockquote.comment,
blockquote.cuts,
blockquote.print,
blockquote.love,
blockquote.paperless,
blockquote.question,
blockquote.error,
blockquote.cc,
blockquote.warning { 
    box-shadow: $shadow;
    border: 0;
    min-height: 4.5rem;
}
blockquote.tip { background: rgba(255, 213, 0, 0.1);}
blockquote.tip:before { content: "\f0eb"; }
blockquote.quote { background: rgba(70, 74, 76, 0.1);}
blockquote.quote:before { content: "\f10e"; }
blockquote.comment { background: rgba(91, 192, 222, 0.1); }
blockquote.comment:before { content: "\f0e5"; }
blockquote.question { background: rgba(92, 184, 92, 0.1); }
blockquote.question:before { content: "\f29c"; }
blockquote.warning { background: rgba(217, 83, 79, 0.1); }
blockquote.warning:before { content: "\f071"; }
blockquote.cuts { background: rgba(102, 63, 149, 0.1) }
blockquote.cuts:before { content: "\f0c4"; }
blockquote.print { background: $white }
blockquote.print:before { content: "\f02f"; }
blockquote.love { background: $purple; color: $white }
blockquote.love:before { content: "\f004"; color: $white }
blockquote.paperless { background: $green; color: $white }
blockquote.paperless:before { content: "\f18c"; color: $white }
blockquote.cc { background: $blue; color: $white }
blockquote.cc:before { content: "\f25e"; color: $white }
blockquote.cc a {color: $white; }
blockquote.error { background: $red; color: $white }
blockquote.error:before { content: "\f25e"; color: $white }
blockquote.error a {color: $white; }

blockquote h2:first-child,
blockquote h3:first-child,
blockquote h4:first-child,
blockquote h5:first-child,
blockquote h6:first-child {
    padding-top: 0;
}
