blockquote { 
    padding: 1rem;
    border: 1px solid $teal;
    border-left: 1rem solid $teal;
    margin: 0.5rem;
    box-shadow: $shadow;
    min-height: 4.5rem;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "\1f4a1";
    speak: none;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    float: right;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
    color: $teal;
}
blockquote.quote { border-color: $gray; }
blockquote.quote:before {
    content: "\1f4ac";
    color: $gray;
}
blockquote.comment { border-color: $purple; }
blockquote.comment:before {
    content: "\1f4e2";
    color: $purple;
}
blockquote.question { border-color: $green; }
blockquote.question:before {
    content: "?";
    color: $green;
}
blockquote.warning { border-color: $red; }
blockquote.warning:before {
    content: "\26a0";
    color: $red;
}
article blockquote { margin-top: 2rem; }
