a.burger {
    position: fixed;
    bottom: 15px;
    z-index: 888890;
    outline: none;
    padding: 13px;
    border-radius: 50%;
    background-color: $teal;
    display: block;
    width: 52px;
    height: 52px;
}
a.burger:hover {
    color: $purple !important;
}
a.burger.white {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#hamburger { right: 15px; z-index: 2002;}
#tocburger { right: 60px; z-index: 1002; background-color: $light-purple;}
@media (min-width: 992px) {
    a.burger {
        display: none;
    }

    html.cover #hamburger {
        display: block;
    }
}
