code.highlighter-rouge { color: #5c3566; }
a code.highlighter-rouge { background: rgba(102,63,149,1); color: #fff; border: 0; padding: 0.1rem 0.4rem;}
a code.highlighter-rouge:hover { background: #5bc0de;}
