.cover-body {
    background: rgba(0,0,0,0.5);
    max-width: 48rem;
    min-width: 25rem;
    padding: 2rem;
    text-align: center;
    margin: auto;
}
.cover-body a {
    text-decoration: underline;
}
.cover-body a.btn {
    text-decoration: none;
}
html.cover {
    height: 100%;
    
    #phenomic,
    #phenomic > div {
      height: 100%;
    }
    
    body {
        height: 100%;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }

    .cover-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     }

     .cover-top {
        align-self: flex-start;
     }
     
     .cover-end {
        align-self: flex-end;
     }

    // Links 
    a,
    a:focus,
    a:hover {
      color: #fff;
    }

    // Custom default button 
    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
      color: #333;
      text-shadow: none; // Prevent inheritance from `body` 
      background-color: #fff;
      border: 1px solid #fff;
    }
    .cover-body {
        background: rgba(0,0,0,0.5);
        max-width: 48rem;
        padding: 2rem;
        text-align: center;
    }
    .cover-body input {
        max-width: 30rem;
        margin: auto;
    }
    @media (max-width: 991px) {
        .cover-body {
            max-width: 90%;
        }
    }
}
.cover-band {
    padding: 4rem 0.5rem;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
