#pattern-list {
    img {
        max-width: 100%;
        padding: 15px 5px 0;
    }
    p {
        margin: 0;
        line-height: 1.2;
    }

    .card-block {
        padding: 0.75rem;
    }

    h4 {
        padding: 0;
    }
}
