footer {
    margin: 6rem 0 0 0;
}
.footer {
  position: relative;
  overflow: hidden;
}

.footer .skew:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  overflow: visible;
  width: 100%;
  height: 450px;
  background: -moz-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(92,53,102,1)), color-stop(100%, rgba(102,63,149,1)));
  background: -webkit-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -o-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -ms-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: linear-gradient(to right, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3566', endColorstr='#663f95', GradientType=1 );
  background-size: cover;
  background-position: center;
  background-image: $potw;
  z-index: -1;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.footer .skew .footer-inner {
  padding: 4rem 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
}
#copyright {
    margin: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
}
.footer ul {
  padding: 0;
  list-style-type: none;
}
.footer ul li {
  list-style-type: none;
}

