footer {
    font-size: 0.95rem;
    padding: 2rem 0 2.5rem;
    margin-top: 4rem;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.25);
}
ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#copyright {
    margin: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
}
#footer-logo {
    text-align: center;
    max-width: 69px;
    margin: 0 auto 1rem;
}
