header {
    margin: 0 0 10rem 0;
}
.header {
  position: relative;
}

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -40px;
  overflow: visible;
  width: 100%;
  height: 180px;
  background: -moz-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(92,53,102,1)), color-stop(100%, rgba(102,63,149,1)));
  background: -webkit-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -o-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: -ms-linear-gradient(left, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  background: linear-gradient(to right, rgba(92,53,102,1) 0%, rgba(102,63,149,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3566', endColorstr='#663f95', GradientType=1 );
  background-size: cover;
  background-position: center;
  background-image: $potw;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.header .skew .header-inner {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
div.masthead {
  display: block;
  position: absolute;
  left: 30px;
  top: 20px;
}
#masthead-main {
  font-weight: 200;
  font-size: 2.2rem;
  display: block;
  line-height: 1.4;
}
#masthead-sub {
  font-weight: 400;
  font-size: 1rem;
  display: block;
  line-height: 1;
}
#top-logo {
  right: 180px;
  top: 15px;
  position: absolute;
}

@media (max-width: 991px) {
  #top-logo {
      right: 20px;
      top: 25px;
  }
  #masthead-main {
    font-size: 2rem;
  }
  #masthead-sub {
    font-size: 0.8rem;
  }
  div.masthead {
    max-width: 270px;
    top: 30px;
  }
}
