a:focus, a:hover {
    text-decoration: none;
}    
a {
    color: $light-purple;
}
p a,
a.line {
    box-shadow: 0px -2px 0px rgba(102,63,149,0.3) inset;
    color: $purple;
}
a.noline {
    box-shadow: none;
    color: $light-purple;
}
p a:hover,
a.line:hover {
    box-shadow: 0px -3px 0px rgba(102,63,149,0.3) inset;
    border-bottom: 1px solid rgba(102,63,149,0.3);
    color: $purple;
    text-decoration: none;
}
a.noline:hover {
    box-shadow: none;
    border: none;
    color: $purple;
}
p a > code {
    box-shadow: none;
}
p a.btn {
    box-shadow: none !important;
}
a.black {
    color: $black;
}
