// Styling for login box
.loginbox {
    padding: 0;
    text-shadow: none;
    width: 350px;
}
.loginbox p {
    color: $black;
}
.loginbox p,
.loginbox p a,
.loginbox p a:hover,
.loginbox a:hover {
    color: $black;
    text-decoration: none;
}
.loginbox p a.btn {
    color: $white;
}
.loginbox p#also-this {
    text-align: left;
    color: $black;
    font-size: 0.75rem;
    margin-top: 0.75rem;
}
.loginbox h4 {
    color: $black;
    margin-bottom: 1rem;
}

// loginbox tabs
.loginbox .tab-pane {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  text-align: center;
  overflow: hidden;
}
.loginbox .nav-tabs .nav-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border: none;
  border-radius: 0;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: 600;
}
.loginbox .nav-tabs .nav-link:hover {
    color: $black;
}
.loginbox .nav-tabs .nav-link.active {
    background: rgba(255, 255, 255, 0.8);
    color: $black;
    text-shadow: none;
}

// Form styles for loginbox
#login div.field-container {
  position: relative;
}
 .loginbox input.field {
  display:block;
  width:100%;
  padding:15px 10px 0;
  border: none;
  border-bottom: 2px solid $purple;
  background: transparent;
  color: $black;
  margin-top: 1rem;
}
.loginbox input.field:focus {
  outline: 0;
  background: transparent;
  color: $black;
}
.loginbox .floating-label {
  position:absolute;
  pointer-events:none;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  opacity:0;
  background-color: transparent;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.loginbox input.field:valid + .floating-label, 
.loginbox input.field:focus + .floating-label {
  opacity:1;
  top:-5px;
  color: $black;
}
.loginbox .tab-content {
    padding: 0;
}
.loginbox .nav-tabs {
    border-bottom: none;
}
.loginbox .nav-tabs .nav-item {
    margin-bottom: 0;
}
#login-tab,
#signup-tab {
    padding: 0;
}
#login-tab.tab-pane,
#signup-tab.tab-pane {
    padding: 0;
}
#login-panel,
#recover-panel,
#signup-panel,
#resend-panel{
    width: 350px;
    float: left;
    position: relative;
    padding: 15px 20px;
}

// loginbox sliding panels
.panel-holder {
    width: 700px;
    clear: both;
}
#login-panel,
#signup-panel {
    -webkit-transition: margin 0.3s ease-in-out;
    -moz-transition: margin 0.3s ease-in-out;
    -o-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
}
#login-panel.move,
#signup-panel.move {
    margin-left: -350px;
}
#recover-panel,
#resend-panel {
    margin-top: 2rem;
}
