#top-logo {
    svg#logo-shadow {
        width: 96px;
        height: 96px;
    }
    #skull {
        fill: $potwtext;
        // Do not disable stroke here because we cannot override it in #shadow
    }
    #shadow {
        stroke: $potwinversetrans;
        stroke-width: 1;
    }
}
