#home-logo {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
}
#home-logo-background {
    position: absolute;
    top: 14px;
    left: 17px;
    width: 156px;
    height: 174px;
    margin: auto;
}
#home-logo img {
    max-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
#logo-message {
    display: block;
    position: absolute;
    width: 200px;
    bottom: 31px;
    font-size: 75%;
    line-height: 1.25;
}
#logo-message a {
    color: #292b2c;
}
#top-logo {
    text-align: center;
    margin: auto;
}
#top-logo img {
    max-height: 4rem;
    display: block;
    margin: auto;
    padding: 0.5rem;
}
