// Model display
#model-measurement-count:after {
    content: 'measurements';
}
#model-draft-count:after {
    content: 'drafts';
}

// Notes
.notes {
    padding: 2rem;
    background: $white;
    box-shadow: $shadow-hover;
    position: relative;
}

.notes pre code {
    display: block;
    overflow-x: auto;
    padding: 1.5em;
    background: $gray-lighter;
    border-radius: 0.25rem;
    font-size: 90%;
    margin: 1rem 0;
}
a.update-bubble {
    position: absolute;
    bottom: -10px;
    right: -5px;
    outline: none;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: $purple;
    display: block;
    width: 52px;
    height: 52px;
    color: $white;
}
.update-bubble svg.pencil {
    width: 36px;
    height: 36px;
}
#notepad {
    max-width: 1200px;
    margin: auto;
}

// Measurements
#measurements-list {
    font-size: 1.1rem;
    max-width: 500px;
    margin: 2rem auto;
}
#measurements-list thead th,
#measurements-list th {
    border: 0;
    padding: 0;
    padding: 0 0.75rem;
}
#measurements-list td {
    vertical-align: middle;
}
#measurements-list td.add,
#measurements-list td.edit {
    text-align: center;
}
#measurements-list td.edit {
    background: $purple;
    width: 50px;
    height: 50px;
    padding: 0;
}
#measurements-list td.add {
    background: $teal;
    width: 30px;
    height: 30px;
    padding: 0;
}
#measurements-list td.add a {
    color: $white;
    font-weight: bold;
}
#measurements-list td.add a:hover {
    text-shadow: $shadow-hover;
    color: $whitish;
}
#measurements-list td.edit svg {
    width: 42px;
    height: 42px;
}
#measurements-list td.name {
    text-align: right;
}
#measurements-list td.name.empty {
    padding-right: 1rem;
    font-size: 1rem;
}
#measurements-list td.value.metric:after {
    content:'cm';
    padding-left: 3px;
}
#measurements-list td.value.imperial:after {
    content:' inch';
}
#measurements-list td.value {
    font-weight: bold;
}
#measurements-list tr.empty td {
    padding: 0.25rem;
}
@media (max-width: 767px) {
    #measurements-list {
        font-size: 1rem;
    }
    #measurements-list td.name.empty {
        font-size: 0.9rem;
    }
    #measurements-list td {
        padding-left: 2px;
        padding-right: 2px;
    }
}
