.oc-panel {
  overflow: auto;
  overflow-y: auto;
  height: 100vh;
  color: $black !important;
  text-shadow: none !important;
}
.oc-panel a {
  color: $link-color !important;
}
.oc-panel a:hover {
  color: $link-hover-color !important;
}
#oc-left {
  z-index: 2002;
  top: 0px;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: transform 300ms ease 0s;
  padding: 0;
  left: -300px;
  background: $whitish;
    .card-header a:before {
        content: "\f078";
        font-family: 'FontAwesome'; 
        font-size: 1rem;
        color: $black;
        margin-right: 8px;
    }
    .card-header a.collapsed:before {
        content: "\f054";
    }
    .card-header.no-sub a:before,
    .card-header.no-sub a.collapsed:before {
        opacity: 0;
    }
}
#oc-left.shown {
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
#oc-right {
    background: $whitish;
}
.oc-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 1000;
}
.oc-overlay.left{
}
.oc-overlay.right{
    margin-left: -300px;
}
body.oc-shown .oc-overlay {
  display: block;
}
@media (max-width: 767px) {

    #oc-right {
      z-index: 1002;
      top: 0;
      width: 300px;
      height: 100%;
      position: fixed;
      overflow: hidden;
      overflow-y: auto;
      transition: transform 300ms ease 0s;
      right: -300px;
      padding: 1rem;
    }
    #oc-right-wrapper.shown #oc-right {
      -ms-transform: translate(-300px, 0);
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    }
}
@media (min-width: 768px) {
    .on-oc-right {
        display: none;
    }
}
// move icons 
#hamburger,
#tocburger {
  transition: all 300ms ease 0s;
}
#oc-left-wrapper.shown #hamburger {
  transform: translate(240px, 0);
}
#oc-right-wrapper.shown #tocburger {
  transform: translate(-240px, 0);
}
