.oc-toggle {
  z-index: 888885;
}
.oc-toggle:hover {
  cursor: pointer;
}
.oc-panel {
  z-index: 888889;
  overflow: auto;
  overflow-y: auto;
  height: 100vh;
  color: $black !important;
  text-shadow: none !important;
}
.oc-panel a {
  color: $link-color !important;
}
.oc-panel a:hover {
  color: $link-hover-color !important;
}
.oc-panel::after {
    content: ' ';
    height: 40px;
    display: block;
}
#oc-left {
  top: 0px;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  backface-visibility: hidden;
  background: $gray-lightest;
  transition: transform 300ms ease 0s;
  padding: 25px 10px;
  left: -300px;
}
#oc-left.shown {
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
.oc-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 888887;
  top: 0;
}
.oc-overlay.right {
    left: -300px;
}
.oc-overlay.left {
    right: -300px;
}
body.oc-shown .oc-overlay {
    display: block;
}
.faded {
    filter: grayscale(100%);
}
/* OC lists */
.oc-panel ul {
    margin-left: 0;
    padding-left: 1rem;
    list-style-type: none;
    font-size: 1.05rem;
}
.oc-panel ul ul {
    list-style-type: circle;
    font-size: 0.95rem;
}
@media (max-width: 991px) {

    #oc-right {
      top: 0;
      width: 300px;
      height: 100%;
      position: fixed;
      overflow: hidden;
      overflow-y: auto;
      backface-visibility: hidden;
      background: $gray-lightest;
      transition: transform 300ms ease 0s;
      padding: 45px 10px 25px 10px;
      right: -300px;
    }
    #oc-right.shown {
      -ms-transform: translate(-300px, 0);
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    }
}
@media (min-width: 992px) {
    .on-oc-right {
        display: none;
    }
}

