/****************************
 *  Picture of the week
 ***************************/
//$potw: url("/img/potw/potw.jpg");
//$potw: url("/img/potw/leave-on-trunk.jpg");
$potw: url("https://farm3.staticflickr.com/2950/33711323256_ac618ef4da_k_d.jpg");
$potwtext: #fff;
$potwlink: #fff;
$potwinverse: #000;
$potwinversetrans: RGBA(0,0,0,0.7);
$potwtextshadow: 1px 1px 1px $potwinversetrans, -1px -1px 1px $potwinversetrans, -1px 1px 1px $potwinversetrans, 1px -1px 1px $potwinversetrans;
