/****************************
 *  Picture of the week
 ***************************/
//$potw: url("/img/potw/potw.jpg");
//$potw: url("/img/potw/leave-on-trunk.jpg");
$potw: url("https://static.pexels.com/photos/42469/pexels-photo-42469.jpeg");
$potwtext: #fff;
$potwlink: #fff;
$potwinverse: #000;
$potwinversetrans: RGBA(0,0,0,0.7);
$potwtextshadow: 1px 1px 1px $potwinversetrans, -1px -1px 1px $potwinversetrans, -1px 1px 1px $potwinversetrans, 1px -1px 1px $potwinversetrans;
