/****************************
 *  Picture of the week
 ***************************/
//$potw: url("/img/potw/potw.jpg");
//$potw: url("/img/potw/leave-on-trunk.jpg");
$potw: url("https://images.pexels.com/photos/373340/pexels-photo-373340.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
$potwtext: #fff;
$potwlink: #fff;
$potwinverse: #000;
$potwinversetrans: RGBA(0,0,0,0.7);
$potwtextshadow: 1px 1px 1px $potwinversetrans, -1px -1px 1px $potwinversetrans, -1px 1px 1px $potwinversetrans, 1px -1px 1px $potwinversetrans;
