#scroller {
  position: fixed;
  bottom: -50px;
  right: 15px;
  z-index: 888888;
  transition: all 300ms ease 0s;
  font-size: 32px;
}
#scroller a {
    color: $light-purple !important;
}
#scroller a:hover {
    cursor: pointer;
    color: $purple !important;
}
body.scrolled #scroller {
  bottom: 18px;
}
