ul.tags { 
    list-style-type: none; 
    margin-left: 0; 
    padding-left: 0; 
}

ul.tags li { 
    display: inline-block;
    margin-right: 0.5rem; 
}

a.tag { 
    font-weight: 600;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background: #663f95;
    border-radius: 1rem 0 0 1rem;
}
a.tag:before{
    content: "\f02b";
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 0.25rem;
}
