.bg-thematic {
    color: $white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    background: rgba(92,53,102,0.9);
    background-size: cover;
    background-position: center;
    background-image: $potw;
}
.bg-thematic a {
    color: white;
}
.bg-thematic a.btn:hover {
    color: white;
}
.on-bg {
  color: $potwtext;
  text-shadow: $potwtextshadow;
}
a.on-bg {
  color: $potwlink;
  text-shadow: $potwtextshadow;
}
a.on-bg:hover {
  text-decoration: underline;
}
.overlay-light {
  background: rgba(255, 255, 255, 0.8);
}
.overlay-dark {
  background: rgba(0, 0, 0, 0.8);
}
