h1, .h1 {
    font-size: 3rem;
    font-weight: 200;
}
h2, .h2 {
    font-size: 2.5rem;
    font-weight: 200;
}
h3, .h3 {
    font-size: 2rem;
    font-weight: 200;
}
h4, .h4 {
    font-size: 2rem;
    font-weight: 200;
}
h5, .h5 {
    font-size: 1.5rem;
    font-weight: normal;
}
h6, .h6 {
    font-size: 1rem;
    font-weight: bold;
}
h2 {
    padding: 2rem 0 0.2rem 0;
}
h3,h4,h5,h6 {
    padding: 1rem 0 0.2rem 0;
}
article h2 { 
    border-bottom: 6px solid $black; 
    border-image: $potw 0 0 6 0 stretch;
}
article h3 { 
    border-bottom: 4px solid $black; 
    border-image: $potw 0 0 4 0 stretch;
}
article h4 { 
    border-bottom: 2px solid $black; 
    border-image: $potw 0 0 2 0 stretch;
}
article h5 { 
    border-bottom: 1px solid $black; 
    border-image: $potw 0 0 1 0 stretch;
}
article h6 { 
    border-bottom: 0.5px solid $black; 
    border-image: $potw 0 0 1 0 stretch;
}
h1.page-title {
    text-align: center;
    letter-spacing: -0.01rem;
}
h1.page-title small { 
    font-size: 1.6rem;
}
@media (max-width: 991px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 2.2rem;
    }
    h3, .h3 {
        font-size: 1.9rem;
    }
    h4, .h4 {
        font-size: 1.6rem;
    }
    h5, .h5 {
        font-size: 1.3rem;
    }
    h6, .h6 {
        font-size: 1rem;
    }
}
