h1, .h1 {
    font-size: 3.5rem;
    font-weight: 900;
}
h2, .h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
h3, .h3 {
    font-size: 2rem;
    font-weight: 500;
}
h4, .h4 {
    font-size: 1.6rem;
    font-weight: 300;
}
h5, .h5 {
    font-size: 1.2rem;
    font-weight: 900;
}
h6, .h6 {
    font-size: 0.9rem;
    font-weight: bold;
}
h2 {
    padding: 2rem 0 0.2rem 0;
}
h3 {
    padding: 1rem 0 0.2rem 0;
}
h4 {
    padding: 0.75rem 0 0.1rem 0;
}
h5,h6 {
    padding: 0.5rem 0 0 0;
}
h1.page-title {
    letter-spacing: -0.1rem;
    text-align: center;
    margin: auto;
    font-weight: 900;
    margin-bottom: 2rem;
}
h1.page-title small { 
    font-size: 1.6rem;
}
.phenomic-HeadingAnchor {
  display: none;
}
article h2 {
    border-bottom: 1px solid $gray;
}
@media (max-width: 767px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 2.2rem;
    }
    h3, .h3 {
        font-size: 1.9rem;
    }
    h4, .h4 {
        font-size: 1.6rem;
    }
    h5, .h5 {
        font-size: 1.3rem;
    }
    h6, .h6 {
        font-size: 1rem;
    }
}
