html{ font-size: 1.1rem; }
img { max-width: 100%; }
.drop-shadow { box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15); }
div.tab-pane { padding-top: 1rem; }
figure.image figcaption { margin-top: 4px; margin-left: 1rem; margin-bottom: 1rem; font-size: 90%; }
