<figure class="image">
    <a href="/img{{ page.url }}high_{{ include.img }}" target="_BLANK">
    <img 
        src="/img{{ page.url }}lqip_{{ include.img }}" 
        data-sizes="auto"
        data-srcset="
            /img{{ page.url }}lqip_{{ include.img }} 25w,
            /img{{ page.url }}low_{{ include.img }} 500w,
            /img{{ page.url }}med_{{ include.img }} 1000w,
            /img{{ page.url }}high_{{ include.img }} 2000w"
        alt="{{ include.caption }}" 
        class="lazyload drop-shadow"
>
    </a>
    {% if(include.caption) %}
    <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
</figure>
