<div class="card drop-shadow">
    <a href="{{ include.link }}" title="{% if include.alt == nil %}{{ include.title }}{% else %}{{ include.alt }}{% endif %}">
        <img src="{{ include.img }}" alt="{% if include.alt == nil %}{{ include.title }}{% else %}{{ include.alt }}{% endif %}">
    </a>
    <div class="card-block">
        <h4 class="card-title">{{ include.title }}</h4>
        <p class="card-text">{{ include.text }} </p>
        <a href="{{ include.link }}" class="btn btn-primary">{{ include.link-text }}</a>
    </div>
</div>
