<div class="card hover-shadow">
    {% if include.img %}
    <a href="{{ include.link }}" title="{% if include.alt == nil %}{{ include.title }}{% else %}{{ include.alt }}{% endif %}">
        <img src="{{ include.img }}" alt="{% if include.alt == nil %}{{ include.title }}{% else %}{{ include.alt }}{% endif %}" class="rounded-top">
    </a>
    {% endif %}
    <div class="card-block">
        <h4 class="card-title"><a href="{{ include.link }}" title="{{ include.title | escape }}">{{ include.title }}<span class="block-link"></span></a></h4>
        <p class="card-text">{{ include.text }} </p>
    </div>
</div>
