<div class="consent" id="consent-container-patron">
    
    <h3 class="patron-consent-given hidden">You have given your consent to process your <b>patron data</b></h3>
    <p class="text-center patron-consent-given hidden"><a href="#" id="consent-revoke-patron" class="btn btn-outline-danger">Revoke consent</a></p>
    <h3 class="patron-consent-not-given">Do you give your consent to process your <b>patron data</b>?</h3>
   
    <div class="consent-details" id="consent-details-patron"> 
    <h4>
        <i class="fa fa-folder-open-o" aria-hidden="true" style="color: #5cb85c;"></i>
        What is patron data?
    </h4>
    <p>Your <b>shipping address</b><sup>*</sup> and <b>birthday</b><sup>**</sup>.</p> 
    <ul class="footnotes">
        <li>* Only for First Mate and Captain patrons</li>
        <li>** Only for Captain patrons</li>
    </ul>
    <h4>
        <i class="fa fa-cog" aria-hidden="true" style="color: #5cb85c;"></i>
        Why do we need it?
    </h4>
    <p>To send you <b>gifts</b> and <b>birthday cards</b>.</p>

    <h4>
        <i class="fa fa-clock-o" aria-hidden="true" style="color: #5cb85c;"></i>
        How long do we keep it?
    </h4>
    <p>Until your <b>remove</b> your account, or stop being a <b>patron</b>.</p>

    <h4>
        <i class="fa fa-share-alt" aria-hidden="true" style="color: #5cb85c;"></i>
        Do we share it?
    </h4>
    <p><b>No</b>, never.</p>
    </div>

    <div id="consent-toggle-patron" class="toggle-consent patron-consent-not-given"></div>
</div>
