<!-- JS bundle -->
{% js bundle %}

{% if page.action == 'confirm' %}
    <script src="{{ site.baseurl }}/js/confirm.js"></script>
{% endif %}
{% if page.action == 'reset' %}
    <script src="{{ site.baseurl }}/js/reset.js"></script>
{% endif %}
{% if page.action == 'pattern-options' %}
    <script src="{{ site.baseurl }}/js/pattern-options.js"></script>
{% endif %}
{% if page.action == 'pattern-measurements' %}
    <script src="{{ site.baseurl }}/js/pattern-measurements.js"></script>
{% endif %}
{% if page.action == 'app' %}
    <script src="{{ site.baseurl }}/js/app.js"></script>
{% endif %}
{% if page.action == 'issues' %}
    <script src="{{ site.baseurl }}/js/issues.js"></script>
{% endif %}
{% if page.action == 'status' %}
    <script src="{{ site.baseurl }}/js/status.js"></script>
{% endif %}
{% if page.action == 'homepage' %}
    <script src="{{ site.baseurl }}/js/homepage.js"></script>
{% endif %}
{% if page.action == 'resend' %}
    <script src="{{ site.baseurl }}/js/resend.js"></script>
{% endif %}
{% if page.action == 'admin' %}
    <script src="{{ site.baseurl }}/js/admin.js"></script>
{% endif %}
{% if page.action == 'search' %}
    {% js search %}
{% endif %}
