{% if include.side == 'left' %}
    {% assign side = 'left' %}
{% else %}
    {% assign side = 'right' %}
{% endif %}
<figure class="image float-{{side}}-on-large">
    <a 
        href="{{ include.url }}" 
        data-lightbox="{{ include.url }}" 
        target="_BLANK" 
        title="{{ include.description }}"
        >
        <img 
            class="img img-responsive drop-shadow" 
            src="{{ include.url }}" 
            {% if(include.description) %}
                alt="{{ include.description }}"
            {% else %}
                alt=" "
            {% endif %}
        >
    </a>
    {% if(include.description) %}
        <figcaption>{{ include.description }}</figcaption>
    {% endif %}
</figure>
