<footer class="footer" id="footer">
  <div class="skew">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/issues">Issues</a></li>
                    <li class="non-patrons-only"><a class="" href="/patrons/join">Become a patron</a></li>
                    <li><a href="https://github.com/freesewing/site/edit/develop/{{page.path}}" target="_BLANK">Improve this page</a></li>
                </ul>
            </div>
            <div class="col text-right">
                <ul class="social">
                    <li><a class="" target="_BLANK" href="https://twitter.com/intent/follow?screen_name=freesewing_org">Twitter</a></li>
                    <li><a class="" target="_BLANK" href="https://www.instagram.com/freesewing_org/">Instagram</a></li>
                    <li><a class="" target="_BLANK" href="https://fb.me/freesewing.org">Facebook</a></li>
                    <li><a class="" target="_BLANK" href="https://github.com/freesewing">GitHub</a></li>
                    <li><a class="" target="_BLANK" href="https://gitter.im/freesewing/freesewing">Gitter</a></li>
                </ul>
            </div>
        </div>
      </div>
      <div id="copyright" class="">
          <p>Freesewing is made by Joost De Cock &amp; contributors<br>
          with the financial support of <a href="/patrons">our Patrons</a></p>
      </div>
    </div>
  </div>
</footer>
