<footer class="footer bg-thematic fade-oc">
        <div id='footer-logo'>
            <a href="/" title="To the homepage"><img src="/img/logo-white.svg" alt="The freesewing logo"></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-right">
                    <span class='text-uppercase'><b>freesewing</b></span>
                    <ul class='social'>
                        <li><a target=_BLANK" href="https://gitter.im/freesewing/freesewing">On Gitter <i class="fa fa-comments" aria-hidden="true"></i></a></li>
                        <li><a target="_BLANK" href="https://github.com/freesewing">On GitHub <i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a target="_BLANK" href="https://twitter.com/intent/follow?screen_name=freesewing_org">On Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a target="_BLANK" href="https://www.instagram.com/freesewing_org/">On Instagram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col">
                    <span class='text-uppercase'><b>joost</b></span>
                    <ul class='social'>
                        <li><a target="_BLANK" href="https://twitter.com/intent/follow?screen_name=j__st"><i class="fa fa-twitter" aria-hidden="true"></i> On Twitter</a></li>
                        <li><a target="_BLANK" href="https://www.instagram.com/joostdecock/"><i class="fa fa-instagram" aria-hidden="true"></i> On Instagram</a></li>
                        <li><a target="_BLANK" href="https://www.facebook.com/j00st"><i class="fa fa-facebook" aria-hidden="true"></i> On Facebook</a></li>
                        <li><a href="mailto:joost@decock.org"><i class="fa fa-envelope-o" aria-hidden="true"></i> Via Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include copyright.html %}
        {% include improve-link.html %}
    </footer>

