<footer class="footer" id="footer">
  <div class="skew">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col text-right">
            <span class="text-uppercase on-bg"><b>freesewing</b></span>
            <ul class="social">
              <li><a class="on-bg" target="_BLANK" href="https://twitter.com/intent/follow?screen_name=freesewing_org">On Twitter <i class="icon-twitter" aria-hidden="true"></i></a></li>
              <li><a class="on-bg" target="_BLANK" href="https://www.instagram.com/freesewing_org/">On Instagram <i class="icon-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col">
            <span class="text-uppercase on-bg"><b>joost</b></span>
            <ul class="social">
              <li><a class="on-bg" target="_BLANK" href="https://twitter.com/intent/follow?screen_name=j__st"><i class="icon-twitter" aria-hidden="true"></i> On Twitter</a></li>
              <li><a class="on-bg" target="_BLANK" href="https://www.instagram.com/joostdecock/"><i class="icon-instagram" aria-hidden="true"></i> On Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="copyright" class="on-bg">
        Freesewing is a labour of love by Joost De Cock and 
        <a class="on-bg" href="/about/contributors">contributors</a>
        <br />
        <a class="on-bg" href="/about/license">License info</a> | <a class="on-bg" href="/contact">Contact info</a>
        <br />
      </div>
      <div id="improve" class="text-center">
        <a class="on-bg" href="https://github.com/freesewing/docs/edit/develop/{{page.path}}" target="_BLANK"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Improve this page</a>
      </div>
    </div>
  </div>
  <Scroller />
</footer>
