<header class="page-header fade-oc">
    <div id="home-logo">
        <div id="home-logo-background" class="bg-thematic"></div>
        <a href="/" title="To the homepage"><img class="" src="/img/logo-cutout.svg" alt="The freesewing logo"></a>
    </div>
    <div id="stripe" class="bg-thematic">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <h1 class="page-title">{{ page.title | escape }}</h1>
                </div> 
            </div> 
        </div>
    </div>
</header>
