    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>{{ page.title }} - Freesewing Documentation</title>

    <!--
          __                           _           
         / _|_ _ ___ ___ ________ __ _(_)_ _  __ _ 
        |  _| '_/ -_) -_|_-< -_) V  V / | ' \/ _` |
        |_| |_| \___\___/__|___|\_/\_/|_|_||_\__, |
                      freesewing.org         |___/ 
    --> 

    <!-- CSS Bundle -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

