<ul>
<li><a href="/demo">Demo</a></li>
</ul>
<h4>Documentation</h4>
<ul>
<li><a href="/maker">For makers</a></li>
<li><a href="/designer">For designers</a></li>
<li><a href="/developer">For developers</a></li>
<li><a href="/contributor">For contributors</a></li>
</ul>
<h5>Quick links</h5>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/contact">Contact us</a></li>
<li><a href="/tags">Tags</a></li>
<li><a href="/todo">Todo list</a></li>
</ul>
<h5>Latest updates</h5>
<ul>
<li><a href="/developer/request-parameters">Request parameters</a></li>
<li><a href="/designer/tutorial/part-1">Pattern Design tutorial part 1</a></li>
<li><a href="/designer/tutorial/part-2">Pattern Design tutorial part 2</a></li>
<li><a href="/demo">Demo</a></li>
<li><a href="/typography">Typography</a></li>
</ul>
