<h4>Documentation</h4>
<ul>
<li><a href="/designer">For designers</a></li>
<li><a href="/developer">For developers</a></li>
<li><a href="/contributing">For contributors</a></li>
</ul>
<h4>Quick links</h4>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/demo">Demo</a></li>
<li><a href="/help">Getting help</a></li>
<li><a href="/tags">All content</a></li>
</ul>
<h4>Support us</h4>
<li><a href="/donate">Donate</a></li>
<li><a href="/donate/pledge">Donation pledge</a></li>
