<div class="row">
    <div class="col-lg-6">
        <blockquote class="link measure">
            <h5>Measurements</h5>
            <p>Documentation for the measurements required to draft {{ include.pattern | capitalize}}</p>
            <p class="text-center mt-3 mb-1"><a class="btn btn-outline-black" href="/docs/patterns/{{ include.pattern }}/measurements">{{ include.pattern | capitalize }} measurements</a></p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote class="link option">
            <h5>Options</h5>
            <p>Documentation for all the options that come with {{ include.pattern }}</p>
            <p class="text-center mt-3 mb-1"><a class="btn btn-outline-black" href="/docs/patterns/{{ include.pattern }}/options">{{ include.pattern | capitalize }} options</a></p>
        </blockquote>
    </div>
</div>
<blockquote class="paperless">
    <h5>Save time, trees, and effort: go paperless</h5>
    <p>If you want to avoid printing your pattern, make sure to use the paperless theme so you can avoid the entire printing/sticky tape business altogether.</p> 
    <p class="text-center mt-3 mb-1"><a class="btn btn-outline-white" href="/docs/paperless">Read more about paperless patterns</a></p>
</blockquote>
