{% assign m = include.measurement | downcase %}
{% if include.onlyBreasts %}
    {% include measurefigure.html measurement=m model="her" %}
    <blockquote class="tip"><h5>Got boobs?</h5><p>This measurement is only relevant when fitting breasts</p></blockquote>
{% else %}
    {% if page.breastsFirst %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#{{ m }}-breasts" aria-controls="breasts" role="tab" data-toggle="tab">Breasts</a></li>
    <li class="nav-item"><a class="nav-link" href="#{{ m }}-nobreasts" aria-controls="nobreasts" role="tab" data-toggle="tab">No breasts</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="{{ m }}-breasts">
        {% include measurefigure.html measurement=m model="her" %} 
    </div>
    <div role="tabpanel" class="tab-pane" id="{{ m }}-nobreasts">
        {% include measurefigure.html measurement=m model="him" %} 
    </div>
</div>
    {% else %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#{{ m }}-nobreasts" aria-controls="{{ m }}-nobreasts" role="tab" data-toggle="tab">No breasts</a></li>
    <li class="nav-item"><a class="nav-link" href="#{{ m }}-breasts" aria-controls="{{ m }}-breasts" role="tab" data-toggle="tab">Breasts</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="{{ m }}-nobreasts">
        {% include measurefigure.html measurement=m model="him" %} 
    </div>
    <div role="tabpanel" class="tab-pane" id="{{ m }}-breasts">
        {% include measurefigure.html measurement=m model="her" %} 
    </div>
</div>
    {% endif %}
{% endif %}

