<div id="modal">
    <div class="cover-wrap">
        <div class="cover-top" id="model-header"></div>
        <div id="modal-main">content</div>
        <div class="cover-bottom" id="modal-footer"> <a class="close-modal" href='#' title="Close">close</a></div>
    </div>
    <a class="close-modal" id="close-modal" title="Close">
        <svg 
            class="icon close" 
            xmlns="http://www.w3.org/2000/svg" 
            width="48" 
            height="48" 
            viewBox="0 0 48 48"
        >
            <path d="M5,5L43,43M43,5L5,43"></path>
        </svg>
    </a>
</div>
