{% assign pagelist = site.pages | sort: 'title' %}
{% assign seperator = '' %}
{% if include.format == 'list' %}<ul>{% endif %}
{% if include.format == 'narrowlist' %}<ul class="narrow">{% endif %}
{% for somepage in pagelist %}
    {% if somepage.tags contains include.tag %}
        {% if include.format == 'inline' %}
{::nomarkdown} 
            {{ seperator }}
            <a class="line" href="{{ site.baseurl }}{{ somepage.url }}">{{ somepage.title }}</a>
            {% assign seperator = ',&nbsp;' %}
{:/}
        {% elsif include.format == 'inline2' %}
            {{ seperator }}
            <a class="line" href="{{ site.baseurl }}{{ somepage.url }}">{{ somepage.title }}</a>
            {% assign seperator = ',&nbsp;' %}
        {% elsif include.format == 'list' %}
{::nomarkdown} 
            <li><a href="{{ site.baseurl }}{{ somepage.url }}">{{ somepage.title }}</a></li>
{:/}
        {% elsif include.format == 'narrowlist' %}
            <li><a href="{{ site.baseurl }}{{ somepage.url }}">{{ somepage.title }}</a></li>
        {% else %}

### <a href="{{ site.baseurl }}{{ somepage.url }}">{{ somepage.title }}</a>

At <a href="{{ site.baseurl }}{{ somepage.url }}">{{ site.baseurl }}{{ somepage.url }}</a> and tagged with 
            {% for tag in somepage.tags %} <a href="/tags#{{tag}}" class="noline"><span class="badge badge-primary {{tag}}">{{tag}}</span></a> {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if include.format == 'list' %}</ul>{% endif %}
{% if include.format == 'narrowlist' %}</ul>{% endif %}
