<div class="row">
    <div class="col-md-6">
        <figure class="image">
            <a href="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.png" target="_BLANK" title="Open in a new window">
                <img class="img img-responsive drop-shadow" src="/img/patterns/{{ include.pattern }}/options/{{ include.option }}.png" alt="The {{ include.option }} option">
            </a>
            <figcaption>The <b>{{ include.option }}</b> option</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure class="image">
            <a href="/img/patterns/{{ include.pattern }}/options/{{ include.option }}-sample.svg" target="_BLANK" title="Open in a new window">
                <img class="img img-responsive drop-shadow" src="/img/patterns/{{ include.pattern }}/options/{{ include.option }}-sample.svg" alt="Sampling of the {{ include.option }} option">
            </a>
            <figcaption>Sampling of the <b>{{ include.option }}</b> option</figcaption>
        </figure>
    </div>
</div>
