<blockquote class="share">
    <h5>I am terrible at marketing. Would you help me out?</h5>
    <p>If you could share this post, you'd do me a real solid :)</p>
    <p><b>Share this on:</b></p>
    <p class="text-center social-icons">
        <a class="noline" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="noline" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="noline" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.blurb }}" rel="nofollow" target="_blank" title="Share on Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a class="noline" href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}&description={{ page.blurb }}" rel="nofollow" target="_blank" title="Share on Tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
        <a class="noline" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-reddit" aria-hidden="true"></i></a>
        <a class="noline" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </p>
</blockquote>
