<div id="oc-left" class="oc-panel" data-side="left">
   <nav id="side-menu">
        <div id="sidemenu" role="tablist" aria-multiselectable="true">
            <div id="group-join" class="card visitor-only">
                <div class="card-header no-sub"><h4><a href="/login" class="login">Join</a></h4></div>
            </div>
            <div id="group-login" class="card logged-out-only">
                <div class="card-header no-sub"><h4><a href="/login" class="login">Login</a></h4></div>
            </div>
            <div id="group-draft" class="card logged-in-only">
                <div class="card-header no-sub"><h4><a href="/draft">New draft</a></h4></div>
            </div>
            <div id="group-account" class="card logged-in-only">
                <div class="card-header" role="tab"><h4><a class="collapsed" data-toggle="collapse" data-parent="#sidemenu" href="#collapse-account" aria-expanded="false" aria-controls="collapse-account">Account</a></h4></div>
                <div id="collapse-account" class="collapse" role="tabpanel" aria-labeledby="heading-account" aria-expanded="false">
                    <div class="card-block" id="content-account">
                        <h5><a class="dropdown-item" href="/account">Your account</a></h5>
                        <h5><a class="dropdown-item" href="/models">Your models</a></h5>
                        <h5><a class="dropdown-item" href="/drafts">Your drafts</a></h5>
                        <h5><a class="dropdown-item logout" href="/">Logout</a></h5>
                    </div>
                </div>
            </div>
            <div id="group-about" class="card">
                <div class="card-header no-sub"><h4><a href="/about">About</a></h4></div>
            </div>
            <div id="group-patterns" class="card">
                <div class="card-header no-sub"><h4><a href="/patterns">Patterns</a></h4></div>
            </div>
            <div id="group-docs" class="card">
                <div class="card-header no-sub"><h4><a href="/docs">Docs</a></h4></div>
            </div>
            <div id="group-blog" class="card">
                <div class="card-header no-sub"><h4><a href="/blog">Blog</a></h4></div>
            </div>
            <div id="group-donate" class="card">
                <div class="card-header no-sub"><h4><a href="/donate">Donate <small><i class="fa fa-heart" aria-hidden="true" style="color: #ef1fb9"></i></small></a></h4></div>
            </div>
        </div>
    </nav>
</div>
