<div id="oc-left" class="oc-panel bg-thematic" data-side="left">
 <div class="overlay-light">
   <nav id="side-menu">
    <ul>
      <li class="nav-section visitor-only"><a class="login" href="#">Join freesewing</a></li>
      <li class="logged-out-only login"><a class="login" href="#">Sign in</a></li>
      <li class="nav-section"><a href="/about">About freesewing</a></li>
      <li><a href="/contribute">Contribute</a></li>
      <li><a href="/contact">Contact info</a></li>
      <li><a href=https://github.com/freesewing/">Freesewing on GitHub</a></li>
      <li class="nav-section"><a href="/patterns">Patterns</a></li>
      <li class="nav-section logged-in-only"><a href="/account">Account</a></li>
      <li><a href="/models#models-title">Your models</a></li>
      <li><a href="/drafts">Your drafts</a></li>
      <li><a href="/logout">Logout</a></li>
      <li class="nav-section"><a href="/docs">Docs</a></li>
      <li><a href="/docs/designer">For designers</a></li>
      <li><a href="/docs/developer">For developers</a></li>
      <li><a href="/docs/maker">For makers</a></li>
      <li><a href="/help">Getting help</a></li>
      <li class="nav-section"><a href="/blog">Blog</a></li>
      <li class="nav-section"><a href="/donate">Donate</a></li>
    </ul>
</nav>
</div>
</div>
