<div id="oc-left" class="oc-panel" data-side="left">
   <nav id="side-menu">
        <div id="sidemenu" role="tablist" aria-multiselectable="true">
            <div id="group-join" class="card visitor-only">
                <div class="card-header no-sub"><h4><a href="/signup" class="signup link">Sign up/Log in</a></h4></div>
            </div>
            <div id="group-login" class="card logged-out-only">
                <div class="card-header no-sub"><h4><a href="/login" class="login link">Log in</a></h4></div>
            </div>
            <div id="group-draft" class="card logged-in-only">
                <div class="card-header no-sub"><h4><a href="/draft" class="link">New draft</a></h4></div>
            </div>
            <div id="group-account" class="card logged-in-only">
                <div class="card-header" role="tab"><h4><a class="collapsed" data-toggle="collapse" data-parent="#sidemenu" href="#collapse-account" aria-expanded="false" aria-controls="collapse-account">Account</a></h4></div>
                <div id="collapse-account" class="collapse" role="tabpanel" aria-labeledby="heading-account" aria-expanded="false">
                    <div class="card-block" id="content-account">
                        <h5><a class="link dropdown-item" href="/account">Your account</a></h5>
                        <h5><a class="link dropdown-item" href="/models">Your models</a></h5>
                        <h5><a class="link dropdown-item" href="/drafts">Your drafts</a></h5>
                        <h5><a class="link dropdown-item logout" href="/">Logout</a></h5>
                    </div>
                </div>
            </div>
            <div id="group-about" class="card">
                <div class="card-header no-sub"><h4><a href="/about" class="link">About</a></h4></div>
            </div>
            <div id="group-blog" class="card">
                <div class="card-header no-sub"><h4><a href="/blog" class="link">Blog</a></h4></div>
            </div>
            <div id="group-patterns" class="card">
                <div class="card-header no-sub"><h4><a href="/patterns/" class="link">Patterns</a></h4></div>
            </div>
            <div id="group-blog" class="card">
                <div class="card-header no-sub"><h4><a href="/showcase/" class="link">Showcase</a></h4></div>
            </div>
            <div id="group-docs" class="card">
                <div class="card-header no-sub"><h4><a href="/docs" class="link">Docs</a></h4></div>
            </div>
            <div id="group-donate" class="card">
                <div class="card-header no-sub"><h4><a href="/donate" class="link">Donate <small><i class="fa fa-heart" aria-hidden="true" style="color: #ef1fb9"></i></small></a></h4></div>
            </div>
        </div>
    </nav>
</div>
