    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#5C3566">
    <link rel="manifest" href="/img/icons/browser/manifest.json">
    <meta name="msapplication-config" content="/img/icons/browser/browserconfig.xml" />
    <link rel="shortcut icon" href="/img/icons/browser/favicon.ico">
    <link rel="apple-touch-icon" href="/img/icons/browser/apple-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/browser/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/browser/apple-icon-180x180.png">
    <link rel="icon" sizes="192x192" href="/img/icons/browser/android-icon-192x192.png">
    <meta name='keywords' content='freesewing, documentation, sewing, patterns, opensource, free, sewing patterns, download'>
    <meta name="description" content="Freesewing is an open source platform for made-to-measure sewing patterns">
    <meta name='subject' content='Freesewing'>
    <meta name='copyright' content='Joost De Cock'>
    <meta name='language' content='EN'>
    <meta name='robots' content='index,follow'>
    <meta name="author" content="Joost De Cock">
    <title>{{ page.title }} - Freesewing</title>

    <!--
          __                           _           
         / _|_ _ ___ ___ ________ __ _(_)_ _  __ _ 
        |  _| '_/ -_) -_|_-< -_) V  V / | ' \/ _` |
        |_| |_| \___\___/__|___|\_/\_/|_|_||_\__, |
                      freesewing.org         |___/ 
    --> 

    <!-- CSS bundle -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{ site.baseurl }}/js/vendor/tether.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>
