<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#653f95">
<link rel="manifest" href="/img/icons/browser/manifest.json">
<meta name="msapplication-config" content="/img/icons/browser/browserconfig.xml" />
<link rel="shortcut icon" href="/img/icons/browser/favicon.ico">
<link rel="apple-touch-icon" href="/img/icons/browser/apple-icon.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/browser/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/browser/apple-icon-180x180.png">
<link rel="icon" sizes="192x192" href="/img/icons/browser/android-icon-192x192.png">
<meta name='keywords' content='freesewing, documentation, sewing, patterns, opensource, free, sewing patterns, download'>
<meta name="description" content="Freesewing is an open source platform for made-to-measure sewing patterns">
<meta name='subject' content='Freesewing'>
<meta name='copyright' content='Joost De Cock'>
<meta name='language' content='EN'>
<meta name='robots' content='index,follow'>
<meta name="author" content="Joost De Cock">
<title>{{ page.title }}</title>

<!--
      __                           _           
     / _|_ _ ___ ___ ________ __ _(_)_ _  __ _ 
    |  _| '_/ -_) -_|_-< -_) V  V / | ' \/ _` |
    |_| |_| \___\___/__|___|\_/\_/|_|_||_\__, |
                  freesewing.org         |___/ 
--> 

<!-- CSS bundle -->
{% css bundle %}

{% if page.layout == 'blog' %}
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="{{ site.twitter }}">
<meta name="twitter:creator"     content="{{ site.twitter }}">
<meta name="twitter:title"       content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.blurb }}">
<meta name="twitter:image"       content="{{ site.url }}img{{ page.url }}high_{{ page.img }}">
<meta property="og:url"          content="{{ site.url }}{{ page.url | remove_first: "/" }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ page.title }}" />
<meta property="og:description"  content="{{ page.blurb }}" />
<meta property="og:image"        content="{{ site.url }}img{{ page.url }}high_{{ page.img }}" />
{% elsif page.layout == 'showcase' %}
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="{{ site.twitter }}">
<meta name="twitter:creator"     content="{{ site.twitter }}">
<meta name="twitter:title"       content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.title }}">
<meta name="twitter:image"       content="{{ site.url }}img{{ page.url }}high_{{ page.img }}">
<meta property="og:url"          content="{{ site.url }}{{ page.url | remove_first: "/" }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ page.title }}" />
<meta property="og:description"  content="{{ page.title }}" />
<meta property="og:image"        content="{{ site.url }}img{{ page.url }}high_{{ page.img }}" />
{% else %}
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="{{ site.twitter }}">
<meta name="twitter:creator"     content="{{ site.twitter }}">
<meta name="twitter:title"       content="{{ page.title }}">
<meta name="twitter:description" content="Freesewing is an open source platform for made-to-measure sewing patterns">
<meta name="twitter:image"       content="{{ site.url }}img/logo/logo-flag.png">
<meta property="og:url"          content="{{ site.url }}{{ page.url | remove_first: "/" }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ page.title }}" />
<meta property="og:description"  content="Freesewing is an open source platform for made-to-measure sewing patterns" />
<meta property="og:image"        content="{{ site.url }}img/logo/logo-flag.png" />
{% endif %}
<link rel="alternate" href="https://freesewing.org/feed" type="application/atom+xml" title="Atom 0.3">

