<nav id="top-menu">
    <ul class="nav nav-pills">
      <li class="nav-item visitor-only">
        <a class="nav-link on-bg login" href="#">Join freesewing</a>
      </li>
      <li class="nav-item logged-out-only">
        <a class="nav-link on-bg login" href="#" id="login-link">Sign in</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu bg-thematic">
          <a class="dropdown-item" href="/about">About freesewing</a>
          <a class="dropdown-item" href="/contribute">Contribute</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/contact">Contact info</a>
          <a class="dropdown-item" href=https://github.com/freesewing/">Freesewing on GitHub</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link on-bg" href="/patterns">Patterns</a>
      </li>
      <li class="nav-item dropdown logged-in-only">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu bg-thematic">
          <a class="dropdown-item" href="/account">Your account</a>
          <a class="dropdown-item" href="/drafts">Your drafts</a>
          <a class="dropdown-item" href="/models">Your models</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/account/settings">Profile & settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Docs</a>
        <div class="dropdown-menu bg-thematic">
          <a class="dropdown-item" href="/docs/designer">For designers</a>
          <a class="dropdown-item" href="/docs/developer">For developers</a>
          <a class="dropdown-item" href="/docs/maker">For makers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/help">Getting help</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link on-bg" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link on-bg" href="/donate">Donate</a>
      </li>
    </ul>
</nav>
