<nav id="top-menu">
    <ul class="nav nav-pills">
      <li class="nav-item visitor-only"><a href="/signup" class="nav-link on-bg login">Sign Up</a></li>
      <li class="nav-item logged-out-only"><a href="/login" class="nav-link on-bg login">Login</a></li>
      <li class="nav-item logged-in-only"><a href="/draft" class="nav-link on-bg">New draft</a></li>
      <li class="nav-item dropdown logged-in-only">
        <a href="/" class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/account">Your account</a>
          <a class="dropdown-item" href="/models">Your models</a>
          <a class="dropdown-item" href="/drafts">Your drafts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logout" href="/">Logout</a>
        </div>
      </li>
      <li class="nav-item"><a href="/about" class="nav-link on-bg">About</a></li>
      <li class="nav-item"><a href="/blog" class="nav-link on-bg">Blog</a></li>
      <li class="nav-item"><a href="/patterns" class="nav-link on-bg">Patterns</a></li>
      <li class="nav-item"><a href="/showcase" class="nav-link on-bg">Showcase</a></li>
      <li class="nav-item"><a href="/docs" class="nav-link on-bg">Docs</a></li>
      <li class="nav-item"><a href="/donate" class="nav-link on-bg">Donate <small><i class="fa fa-heart" aria-hidden="true" style="color: #ef1fb9;"></small></i>
          </a></li>
    </ul>
</nav>
