<nav id="top-menu">
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Top picks</a>
        <div class="dropdown-menu">
          <a class="dropdown-item visitor-only login hashlink">Login/Join</a>
          <a class="dropdown-item logged-out-only hashlink">Login</a>
          <a class="dropdown-item" href="/blog">Read our blog</a>
          <a class="dropdown-item" href="/patterns">Patterns</a>
          <a class="dropdown-item logged-in-only" href="/draft">Draft a pattern</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/donate">Donate ❤</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/about">About freesewing</a>
          <a class="dropdown-item" href="/contact">Contact info</a>
          <a class="dropdown-item" href="/contribute">Contribute</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=https://github.com/freesewing/">Freesewing on GitHub</a>
        </div>
      </li>
      <li class="nav-item dropdown logged-in-only">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/account">Your account</a>
          <a class="dropdown-item" href="/models">Your models</a>
          <a class="dropdown-item" href="/drafts">Your drafts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logout" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle on-bg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Docs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/docs/designer">For designers</a>
          <a class="dropdown-item" href="/docs/developer">For developers</a>
          <a class="dropdown-item" href="/docs/maker">For makers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/help">Getting help</a>
        </div>
      </li>
    </ul>
</nav>
