<figure class="image">
	<a 
		href="/img/patterns/jaeger/options/backVent.svg" 
		data-lightbox="/img/patterns/jaeger/options/backVent.svg" 
		target="_BLANK" 
		title="The <em><big>Back vent</big></em> option"
	>
    	<img class="img img-responsive drop-shadow" src="/img/patterns/jaeger/options/backVent.svg" alt="The backVent option">
	</a>
    <figcaption>The <b>Back vent</b> option</figcaption>
</figure>
<p>How do you like your back vents?</p>
<ul>
    <li>Two back vents (shown on the left)</li>
    <li>One central back vent (shown in the middle)</li>
    <li>No back vents (shown on the right)</li>
</ul>

