blockquote { 
    padding: 2rem;
    margin: 1.5rem 0.5rem;
    background: $white;
    box-shadow: $shadow;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "";
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3em;
    float: right;
    margin-top: -10px;
    color: $gray-dark;
}
.blockquote-icon {
    font-size: 3em;
    float: right;
    margin-top: -10px;
    line-height: 1;
}
blockquote.tip,
blockquote.quote,
blockquote.comment,
blockquote.cut,
blockquote.option,
blockquote.measure,
blockquote.tour,
blockquote.print,
blockquote.love,
blockquote.paperless,
blockquote.question,
blockquote.share,
blockquote.error,
blockquote.cc,
blockquote.nocc,
blockquote.fork,
blockquote.link,
blockquote.warning { 
    min-height: 4.5rem;
}
blockquote.tip:before { content: "\f0eb"; color: $green; }
blockquote.quote { max-width: 50%; float: right; font-style: italic;}
blockquote.quote.full {max-width: 100%; float: none; clear: both }
@media (max-width: 767px) { blockquote.quote {max-width: 100%; float: none; clear: both} }
blockquote.quote:before { content: "\f10e"; }
blockquote.comment:before { content: "\f0e5"; color: $light-purple;}
blockquote.question:before { content: "\f29c"; color: $pink;}
blockquote.warning:before { content: "\f071"; color: $red;}
blockquote.cut:before { content: "\f0c4"; color: $red;}
blockquote.option:before { content: "\f1de"; color: $blue;}
blockquote.measure:before { content: "\f21d"; color: $brown;}
blockquote.print:before { content: "\f02f"; color: $gray;}
blockquote.love { background: $pink; color: $white }
blockquote.love:before { content: "\f004"; color: $white }
blockquote.share { background: #ff4646; color: $white }
blockquote.share:before { content: "\f1e0"; color: $white }
blockquote.magic:before { content: "\f0d0"; color: $white }
blockquote.paperless { background: $green; color: $white }
blockquote.paperless:before { content: "\f18c"; color: $white }
blockquote.link:before { content: "\f0c1"; color: $blue;}
blockquote.cc, blockquote.nocc { background: $blue; color: $white }
blockquote.cc:before { content: "\f25e"; color: $white }
blockquote.nocc:before { content: "\f030"; color: $white }
blockquote.cc a {color: $white; }
blockquote.error { background: $red; color: $white }
blockquote.error:before { content: "\f119"; color: $white }
blockquote.error a {color: $white; }
blockquote.fork { background: $cyan; color: $white }
blockquote.fork:before { content: "\f126"; color: $white }
blockquote.fork a {color: $white; }

blockquote h2:first-child,
blockquote h3:first-child,
blockquote h4:first-child,
blockquote h5:first-child,
blockquote h6:first-child {
    padding-top: 0;
}
