.tr-keyval {
    padding: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.td-key {
    text-align: right;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25em;
    border: 1px solid $gray-dark;
    background: $gray;
    color: $white;
    padding: 0.3rem 0.5rem 0.1rem;
}
.td-val {
    border: 1px solid $gray;
    border-left: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 95%;
    padding: 0.3rem 0.5rem 0.1rem;
}
.th-keyval {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
}
.th-key {
    text-align: right;
}
span.td-key {
    min-width: 12rem;
}
.key-sm span.td-key {
    min-width: 6rem;
}
span.td-key {
    min-width: 12rem;
}
#form div.input-group {
    margin-bottom: 0.25rem;
}
.input-group {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 0.25rem;
}
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group .form-control:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group span.form-units {
}
.input-group span.form-units.metric:after {
    content: 'cm';
}
.input-group span.form-units.imperial:after {
    content: 'inch';
}
#accordion {
    max-width: 600px;
    margin: auto;
    label {
        width: 100%;
    }
    input[type='radio'] {
        margin-right: 8px;
    }
    .form-check-label {
        font-size: 0.9rem;
    }
    legend {
        font-size: 1rem;
    }
    .card-header a {
        display: block;
    }
    .card-header a:before {
        content: "\f078";
        font-family: 'FontAwesome'; 
        font-size: 1rem;
        color: $black;
        margin-right: 8px;
    }
    .card-header a.collapsed:before {
        content: "\f054";
    }
}
#accordion.full-width {
    max-width: 100%;
}
.value-metric:after {
    content: 'cm';
}
.value-imperial:after {
    /* handled in JS */
}
.value-angle:after {
    content: '';
}
.value-percent:after {
    content: '%';
}
#progress.progress-66 {
    width: 66%;
}
#progress.complete {
    width: 100%;
}
