// Narrow list
ul.narrow {
    padding-left: 0.75rem;
    font-size: 95%;
}
// TODO LIST
ul.todo {
    margin: 1rem 0;
}
ul.todo li {
    list-style-type: none;
}
ul.todo li:before {
    content: "\f10c";
    font-family: 'FontAwesome';
    padding-right: 0.5rem;
    color: #f0ad4e;
    font-weight: normal;
}
ul.todo li.done {
    color: $gray-light;
    font-weight: 200;
}
ul.todo li.ongoing {
    font-weight: bold;
}
ul.todo li.done:before {
    content: '\f058';
    color: $green;
}
ul.todo li.blocking:before {
    content: '\f071';
    color: $red;
}
ul.todo li.wish:before {
    content: '\f004';
    color: $pink;
}
ul.todo li.ongoing:before {
    content: '\f04b';
    color: $teal;
}

// FILE LIST 
ul.files {
    margin: 1rem 0;
}
ul.files li {
    list-style-type: none;
}
ul.files li:before {
    content: "\f0f6";
    font-family: 'FontAwesome';
    padding-right: 0.5rem;
    color: $light-purple;
    font-weight: normal;
}
ul.files li.folder:before { 
    content: '\f114';
    color: $purple;
}
ul.files li.folder.open:before { 
    content: '\f115';
    color: $purple;
}
ul.files li.repo:before { 
    content: '\f09b';
}

ul.files li.folder ul,
ul.files li.folder-open ul {
    font-weight: normal;
}
ul.files li.code:before {
    content: '\f1c9';
    color: $teal;
}
ul.files li.image:before {
    content: '\f1c5';
    color: $green;
}

// CUT LIST
ul.cuts {
    margin: 1rem 0;
}
ul.cuts li {
    list-style-type: none;
    font-weight: normal;
}
ul.cuts li:before {
    content: "\f0c4";
    font-family: 'FontAwesome';
    padding-right: 0.5rem;
    color: $purple;
    font-weight: normal;
}
ul.cuts li.lining:before { 
    color: $teal;
}
ul.cuts li.interfacing:before { 
    color: $red;
}
ul.cuts li.title { 
    font-weight: bold;
}
ul.cuts li.title:before { 
    content: none;
}
blockquote.cuts ul.cuts {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}
blockquote.cuts ul.cuts ul {
    padding-left: 1rem;
}

// Title list item
ul.no-indent {
    padding-left: 0;
}
li.title { 
    list-style-type: none; 
    font-weight: 600; 
    font-size: 1.2rem; 
}
li.title > ul { 
    font-weight: normal; 
    font-size: 1rem; 
}
