ul.tags { 
    list-style-type: none; 
    margin-left: 0; 
    padding-left: 0; 
}

ul.tags li { 
    display: inline-block;
    margin-right: 0.5rem; 
}
span.badge.core {
    background: $green;
    color: $white;
    box-shadow: 2px 2px 0 $blue, 4px 4px 0 $yellow;
}
span.badge.site {
    background: $yellow;
    color: $black;
    box-shadow: 2px 2px 0 $green, 4px 4px 0 $blue;
}
span.badge.data {
    background: $blue;
    color: $white;
    box-shadow: 2px 2px 0 $yellow, 4px 4px 0 $green;
}
span.badge.beta {
    background: $red;
    color: $white;
}
