.bg-thematic {
    color: $white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    background: #663f95;
    background-size: cover;
    background-position: center;
    background-image: $potw;
}
.bg-thematic a {
    color: white;
}
.bg-thematic a.btn:hover {
    color: white;
}
.on-bg {
  color: $potwtext;
  text-shadow: $potwtextshadow;
}
a.on-bg {
  color: $potwlink;
  text-shadow: $potwtextshadow;
}
a.on-bg:hover {
  text-decoration: underline;
}
.overlay-light {
  background: rgba(255, 255, 255, 0.8);
}
.overlay-dark {
  background: rgba(0, 0, 0, 0.8);
}
.light-on-bg,
.dark-on-bg {
    text-shadow: none;
    padding: 1rem;
    margin: 0 1rem;
}
.light-on-bg {
    background: rgba(255, 255, 255, 0.8);
    color: $black;
}
.dark-on-bg {
    background: rgba(0, 0, 0, 0.8);
    color: $white;
}
.loader {
    text-align: center;
}
