img { 
    max-width: 100%; 
}
.hidden {
    display: none!important;
}
.invisible {
    opacity: 0!important;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.bg-highlight {
    background-color: #f9f9d1;
}
img.svg {
    width: 100%;
    height: auto;
}
.drop-shadow { 
    box-shadow: $shadow;
}
.alert {
    font-weight: 600;
    box-shadow: $shadow;
}
.hover-shadow {
  box-shadow: $shadow-hover;
  transition: $shadow-transition;
  display: block;
}
.hover-shadow:hover {
  box-shadow: $shadow-hovered
}
.paper {
    background: $white;
    padding: 2rem;
}
// pointer on hover
.poh:hover {
    cursor: pointer;
}
div.tab-pane { 
    padding-top: 1rem; 
}
figure.image figcaption { 
    margin-top: 4px; 
    margin-left: 0; 
    margin-bottom: 1rem; 
    font-size: 90%; 
}
div.post figure.image figcaption { 
    font-size: 75%; 
}
figure.image figcaption span.caption{ 
  display: block;
  line-height: 1.1;
  padding-bottom: 4px;
  text-align: center;  
}
figure.image a.credit,
figure.image span.credit{ 
  display: block;
  line-height: 1.1;
  text-align: right;  
  font-size: 0.6rem;
  color: $gray;
  padding-bottom: 3px;
}
.h-100 { 
    height: 100%; 
}
button.btn:hover{
    cursor: pointer;
}
// Latest pages
.page-preview {
  margin-bottom: 1rem;
}
.page-preview h3.card-title {
  padding: 0 0 0.2rem 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
body.user.logged-in .logged-out-only,
body.user.logged-in .visitor-only {
    display: none;
}
body.user.logged-out .logged-in-only,
body.user.logged-out .visitor-only {
    display: none;
}
body.visitor .visitor-hidden,
body.visitor .logged-in-only,
body.visitor .logged-out-only {
    display: none;
}
body.patron .non-patrons-only { display: none; }
body.non-patron .patrons-only { display: none; }

body { background: $whitish; }
.badge {
    text-transform: uppercase;
    font-weight: 300;
}
.m800 {
    max-width: 800px;
    margin: auto;
}
.m600 {
    max-width: 600px;
    margin: auto;
}
.btn-outline-black {
    color: $black;
    background-image: none;
    background-color: transparent;
    border-color: $black;
}
.btn-outline-white {
    color: $white;
    background-image: none;
    background-color: transparent;
    border-color: $white;
}
.btn-outline-black:hover {
    color: $white;
    background-color: $gray-dark;
    border-color: $black;
}
.btn-outline-white:hover {
    color: $black;
    background-color: $white;
    border-color: $white;
}
p.counter {
    font-size: 3rem;
    text-align: right;
    font-weight: bold;
}
div.download-draft {
    background: $purple;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: rgba(255,255,255,0.65);
}
a.download-draft {
    color: rgba(255,255,255,0.65);
}
.download-draft span.format {
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    margin: 0;
    padding: 0 0 5px 5px;
    line-height: 1;
    color: #fff;
}
.download-draft p { 
    margin: 0;
}
div.download-draft.download-svg {
    background: $gray-dark;
}
.clear { clear: both; }
@media (max-width: 767px) {
    .not-on-small {
        display: none;
    }
    .paper {
        padding: 2rem 1rem;
    }
}
@media (min-width: 768px) {
    .only-on-small {
        display: none;
    }
}

span.fine-print {
    font-size: 1rem;
    color: $gray;
    display: block;
    line-height: 1rem;
}
div.card.patron {
    box-shadow: $shadow;
    padding: 1rem 0.5rem;
    text-align: center;
    padding: 2rem 0.5rem 1rem 0.5rem;

    img {
        max-width: 50%;
        margin: auto;
    }
    h2 { padding: 0; }
    div.card-block { padding: 0.5rem; }
    div.perks {
        font-size: 1.1rem;
        text-align: left;
    }
    ul { list-style-type: none; }
    p { text-align: center; }
    i.fa-check {color: $green;}
    i.fa-times {color: $red;}
    i.fa-dot-circle-o {color: $purple;}
}
div.perk {
    margin-top: 1rem;
    box-shadow: $shadow;
}
.bg-patron-2 { background: #d4d4d4; background: linear-gradient(45deg, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 50%, rgba(212,212,212,1) 100%);}
.bg-patron-4 {
    background: rgba(255, 213, 0, 0.5);
    background: linear-gradient(45deg, rgba(255,213,0,0.5) 0%, rgba(255,235,193,0.5) 50%, rgba(255,213,0,0.5) 100%);
}
.bg-patron-8 {
    background: $black;
    background: linear-gradient(45deg, black 0%, #242424 50%, black 85%, #242424 100%);
    color: $whitish;
    
    a {
        color: $lighter-purple;
        box-shadow: 0px -2px 0px rgba(228, 199, 255, 0.5) inset;
    }
    a:hover {
        box-shadow: 0px -3px 0px rgba(228, 199, 255, 0.8) inset;
        border-bottom: 1px solid rgba(228, 199, 255, 0.8);
        color: $lighter-purple;
    }
}
img.medal-corner { 
    max-width: 75px;
    max-height: 75px;
    margin: 0;
    position: absolute;
    left: -10px;
    top: -10px;
}

