/****************************
 *  Bootstrap overrides
 ***************************/

// Start with assigning color names to specific hex values.
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$lighter-teal:   #bff0ff !default;
$purple: #653f95 !default;
$light-purple: #86739c !default;
$lighter-purple: #e4c7ff !default;
$cyan: #188f93 !default;
$brown: #b75e13 !default;

// Create grayscale
$white:  #fff !default;
$whitish:  #f6f6f6 !default;
$black:  #292b2c !default;
$gray-dark:                 #333333 !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$gray-border:               rgba(0,0,0,0.15) !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $purple !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

// Enable shadows and gradients, disable print
$enable-shadows:            true !default;
$enable-gradients:          true !default;
$enable-print-styles:       false !default;
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
$shadow-hover: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
$shadow-hovered: 0 -3px 18px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
$shadow-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

// Body
$body-bg:       $white !default;
$body-color:    $gray-dark !default;
$inverse-bg:    $black !default;
$inverse-color: $white !default;


// Links
$link-color:            $light-purple !default;
$link-decoration:       none !default;
$link-hover-color:      $brand-info !default;
$link-hover-decoration: none !default;


// Fonts
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

// Titles
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

// Blockquotes
$blockquote-small-color:  $gray-light !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

