{% include pattern-option.html pattern='jaeger' option='sleeveLengthBonus' %}
<p>The amount to extend the sleeve beyond the length of the sleeve in the base block.</p>
<blockquote class="warning">
    <h5>This is not supposed to be zero</h5>
    <p>Setting this to zero will make the sleeve length the same as the base length of the Bent block,
    which is certainly too short for a coat.</p>
    <p>Please take note of the default value and use that as a basis to lengthen or shorten the sleeve.</p>
</blockquote>

