{% include pattern-option.html pattern='carlton' option='sleevecapEase' %}
<p>How much sleevecap ease do you want?</p>

<blockquote class="comment">
  <h5>What's the point?</h5>

  <p>The amount of sleevecap ease determines how the sleeves rolls from the shouder.</p>

  <p>More ease makes the sleeve curl into the seam as you would expect from a coat. Less ease makes the sleeve lie flatter.</p>
</blockquote>

<blockquote class="tip">
  <p>The lighter your fabric, the less sleevecap ease you want.</p>
</blockquote>
