$color-pack = false
$primary = #00ff00
$navigation-drawer-item-font-size = 24px
$body-font-family := -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-size-root := 16px
$line-height-root := 1.4

@import '~vuetify/src/stylus/main'

