/*
 *
 * Color overrides
 * Note that $primary (and other theme colors) are set in nuxt.conf.js
 *
 */
// Disable the color pack to avoid bloat
$color-pack = false

// Who would thing having a white background would be such as hassle
@import './material-light'

/*
 *
 * Vuetify's typography is below our standards
 * So here's a bunch of overrides to fix that
 *
 */
// Native font stack to avoid loading external font
$body-font-family = -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

// Set generous font size and line height
$font-size-root = 22px
$line-height-root = 1.4

// Tone it down a bit on smaller screens
@media screen and (max-width 600)
  $font-size-root = 16px

// Set heading styles
h1 
  font-size: 2.5rem
  font-weight: 500
  line-height: 1.1
  letter-spacing: -.03rem 
  margin: 1rem 0 2rem 0
h2 
  font-size: 2.1rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -.03rem 
  margin: 0.5rem 0
h3 
  font-size: 1.8rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -.02rem
  margin: 0.5rem 0
h4 
  font-size: 1.5rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -0.01rem
  margin: 0.5rem 0
h5
  font-size: 1.3rem
  font-weight: 400
  line-height: 32px
  letter-spacing: normal
  margin: 0.5rem 0
h6 
  font-size: 1.1rem
  font-weight: 500
  line-height: 1
  letter-spacing: .02em
  margin: 0.5rem 0

// Bump the navigation drawer font size
$navigation-drawer-item-font-size = 24px

// Use local icon font rather than fetch from Google
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

/*
 *
 * Blog post specifics
 *
 */


/*
 *
 * All done with Freesewing specific settings
 *
 */
@import '~vuetify/src/stylus/main'


/*
 *
 * Global freesewing styles
 *
 */
.align-drawer-bottom 
  position fixed
  bottom 48px
  width 100%

