{% include figure.html url="/img/patterns/simon/options/barrelcuffNarrowButton.png" description="Extra narrow button on the cuff or not?" %}

<p>Do you want an extra button to button up your cuff more tightly?</p>

<p>If you are wearing your shirt under a tight-fitting (at the wrist) sweater or cardigan, this button allows you to make your cuff more narrow, so it doesn't bunch up all ugly.</p>

<blockquote class="warning">
  <p>This does only apply to barrelcuffs. So if you picked a French cuff as cuff style this will be ignored.</p>
</blockquote>
