{% include figure.html url="/img/patterns/simon/options/buttonholePlacketStyle.png" description="The buttonholePlacketStyle option" %}
<p>Do you want classic buttonhole placket, or a seamless one (sometimes called French style)?</p>

<blockquote class="comment">
  <h5>Why pick seamless?</h5>

  <p>It's less work and it looks great.</p>

  <h5>Why pick classic?</h5>

  <p>Because you're a classic kinda person, and that's what you want.</p>
</blockquote>

<blockquote class="warning">
  <p>As seamless is only possible on a grown on placket, this option is ignored if you chose sewn on as your buttonhole placket type.</p>
</blockquote>
