{% include figure.html url="/img/patterns/simon/options/buttonholePlacketType.png" description="The buttonholePlacketType option" %}
<p>Do you want the buttonhole placket to be part of the left front pattern part (cut-on), or rather an individual part that you sew on (seperate)?</p>

<p>The default is grown on.</p>

<blockquote class="comment">
  <h5>Why pick seperate?</h5>
  <p>One reason to pick a sewn on buttonhole placket is that it allows you to use a different fabric or grainline. Even when using the same fabric, some people also prefer the look of a seperate buttonhole placket.</p>

  <p>Having a sewn on placket also gives you more flexibility for pattern matching when using a non-plain fabric. 
However, you can keep a cut-on placket and instead change the buttonhole placket fold width to match your pattern.</p>

  <h5>Why pick cut-on?</h5>
  <p>It's less work, and you can go for that seamless look.</p>
</blockquote>
