{% include pattern-option.html pattern='simon' option='collarRoll' %}
<p>How much the collar is taller than the collar stand at center back.</p>

<blockquote class="comment">
  <h5>What's the point?</h5>

  <p>The collar starts upwards from the collar stand and then rolls over downwards. But it still needs to cover the collar stand. For that, it needs to be a bit longer.</p>

  <p>Increasing this does not make the collar higher (use the collar stand height for that) but rather makes it descend further down.</p>
</blockquote>
