{% include figure.html url="/img/patterns/simon/options/hemCurve.png" description="The curve of your hem" %}
<p>How much do you want the hem to curve upwards?</p>

<blockquote class="warning">
  <ul>
    <li>This applies only to the baseball and slashed hem styles. If you chose a straight hem, this will be ignored.</li>
    <li>This value can never be more than the length bonus. If it is, it will silently be set to the length bonus value.</li>
    <li>If you set this to zero, you'll get a straight hem regardless of what hem style you pick.</li>
  </ul>
</blockquote>
