{% include figure.html url="/img/patterns/simon/options/splitYoke.png" description="Split yoke or not?" %}
<p>Do you want a split yoke?</p>

<blockquote class="comment">
  <h5>What's the point?</h5>

  <p>With a split yoke, only half the yoke is included on the pattern, and you'll have to cut 4 parts instead of 2, and sew them together.</p>

  <p>It's a bit more work, but it allows you to align the grain line differently on both halves of the yoke, an effect that some people like.</p>
</blockquote>
