{% include figure.html url="/img/patterns/cathrin/options/panels.png" description="11 panels (top) or 13 panels (bottom)" %}
<p>This options determines how many panels will be used to make up the corset. You have the choice between:</p>

<ul>
  <li>11 panels</li>
  <li>13 panels</li>
</ul>

<p>More panels is a bit more work, but also allows the difference between bust/waist/hips to be evened out over more darts, which may yield to better results.</p>

<blockquote class="tip">
  <p>More curves = more panels</p>
</blockquote>
