---
permalink: /components/tour/wrapper
---
<div id="tour-toc">
    <h2>Tour guides</h2>
    <h5>Before you start</h5>
    <ul>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="welcome">Freesewing essentials</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="mobile-nav">Site navigation on mobile</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="desktop-nav">Site navigation on desktop</a></li>
    </ul>
    <h5>Basics</h5>
    <ul>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Create an account</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Adding models and measurements</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Drafting a pattern</a></li>
    </ul>
    <h5>Next steps</h5>
    <ul>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Keeping notes</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">The compare service</a></li>
    </ul>
    <h5>Advanced</h5>
    <ul>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Redrafting a draft</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Sharing your draft</a></li>
        <li><a href="#tour-wrapper" class="tour-load" data-tour="missing">Forking a draft</a></li>
    </ul>
</div>
<div id="tour-back" class="hidden"><a href="#tour-wrapper" class="tour-home">Switch to a different guide</a></div>
<div id="tour-wrapper" class="hidden">
</div>
<div id="tour-nav" class="hidden row">
    <div class="col back">
        <a class="btn btn-sm btn-info" href="#tour-wrapper" id="prev-chapter">&laquo; Back</a>
    </div>
    <div class="col forward text-right">
        <a class="btn btn-sm btn-info" href="#tour-wrapper" id="next-chapter">Next &raquo;</a>
    </div>
</div>

<style>
    #tour-nav {
        width: 200px;
        margin: auto;
    }
    #tour-toc {
        width: 400px;
        margin: 1rem auto;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 0 1rem 0.5rem;
        border-radius: 0.25rem;
    }
    #tour-toc h2 {
        padding-top: 1rem;
    }
    #tour-wrapper {
        width: 400px;
        min-height: 250px;
        margin: auto;
        overflow-x: hidden;
    }
    #tour-back {
        text-align: center;
        text-transform: uppercase;
        font-size: 80%;
    }
    .episode {
        width: 10000px;
        margin-left: 0;
        transition: margin 300ms cubic-bezier(0.77, 0, 0.18, 1) 0s;
    }
    .chapter {
        width: 396px;
        display: inline-block;
        vertical-align: top;
    }
    img.tour-mobile {
        display: block;
        max-height: 250px;
        margin: 0 auto 0.25rem;
    }
    #modal-main {
        padding: 0!important;
    }
    #episode-select {
        width: 300px;
        margin: auto;
    }
    .mobile-screen {
        width: 300px;
        height: 500px;
        padding: 150px 25px 65px;
        margin: 0.5rem auto;
    }
    .mobile-screen .text {
        background: rgba(255,255,255,0.75);
    }
    .desktop-screen {
        width: 300px;
        height: 225px;
        padding: 150px 25px 65px;
        margin: 0.5rem auto;
    }

blockquote.tour {
    background: #fff;
    border-radius: 0.25rem; 
    text-align: left;
    color: #292b2c;
    margin: 0.5rem;
}

blockquote.tour.what:before {content: "\f128";}
blockquote.tour.cost:before {content: "\f07a";}
blockquote.tour.who:before {content: "\f0c0";}
blockquote.tour.work:before {content: "\f013";}
blockquote.tour.credit:before {content: "\f002";}
blockquote.tour.start:before {content: "\f0e7";}

<style>
