{% include pattern-option.html pattern='benjamin' option='collarEase' %}
<p>How much ease do you use for your collar?</p>

<p>Using the neck circumference is one part of getting a well-fitting bow tie. The other is how much collar ease you
normally use for your shirts. Together they dictate how long the bow tie becomes.</p>

<blockquote class="comment"> 
<h5>Not used with the adjustment ribbon option</h5
<p>This option is used to make a precise fitting bow tie. When you use the adjustment ribbon, this option is not used.</p>
</blockquote>
