---
layout: default
---
{% include header.html %}
<div class="container">
    {% include breadcrumbs.html %}
    <div class="row mt-5" id="posthead">
        <div class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5">
            <div class="row">
                <div class="col post-meta"><a href="/blog/category/{{ page.categories }}" title="Browse other posts in this category">{{ page.categories }}</a></div>
                <div class="col post-meta text-center">{{ page.date | date: "%A, %B %-d, %Y" }}</div>
                <div class="col post-meta text-right"><a href="/blog/author/{{ page.author }}" title="Browse other posts by this author">{{ page.author }}</a></div>
            </div>
            <figure class="image">
                <img alt="{{ page.caption }}" src="/img{{ page.url }}{{ page.img }}" class="img img-responsive drop-shadow">
                <figcaption>{{ page.caption }} <a target="_BLANK" href="/img{{page.url}}{{ page.img }}"><i aria-hidden="true" class="fa fa-external-link"></i></a></figcaption>
            </figure>
            <h1 class="post">{{ page.title | escape }}</h1>
        </div>
    </div>
    <div class="row" id="post">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 post">
            <article> 
                {{ content }}
            </article>
        </div>
    </div>
    <div class="row post-meta mt-2">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="row">
                <div class="col">{% if page.previous %} <a href="{{ page.previous.url }}" alt="Read the previous post"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous post</a>{% endif %}</div>
                <div class="col text-right">{% if page.next %} <a href="{{ page.next.url }}" alt="Read the next post">Next post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>{% endif %}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% include sharing-buttons.html %}
        </div>
    </div>
    <div class="row mt-2">
        <div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
    </div>
</div><!-- /.container -->
