<!DOCTYPE html>
<html lang="en" class="cover">
<head>
    {% include start-page.html %}
</head>

<body class="bg-thematic">
    {% include oc-overlay.html %}
    {% include hamburger.html %}
    {% include side-menu.html %}
    <div class="cover-wrap">
        <div class="cover-top"> </div>
        {{ content }}
        <div class="cover-bottom">
            <a href="/" title="To the home page" id="cover-bottom-logo">{% include logo.svg %}</a>
        </div>
    </div>
    {% include end-page.html %}
  </body>
</html>
