<!DOCTYPE html>
<html lang="en" class="cover">
<head>
    {% include start-page.html %}
</head>

<body class="bg-thematic">
    <span class="oc-overlay"></span>
    <a class="oc-toggle left burger" id="hamburger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    <div id="oc-left" class="oc-panel" data-side="left">
        {% include main-menu.html %}
    </div>
    <div class="cover-wrap">
        <div class="cover-top"> </div>
        
        {{ content }}
        
        <div class="cover-bottom">
            {% include copyright.html %}
        </div>
    </div>
    {% include end-page.html %}
  </body>
</html>
