<!DOCTYPE html>
<html lang="en">
<head>
    {% include head-core.html %}
    
    <!-- Custom styles 
    ================================================== -->
    <link href="{{ site.baseurl }}/css/cover.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/freesewing.css" rel="stylesheet">

</head>

<body class="cover bg-primary-gradient">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
            </div>

            <div class="inner cover">
            
                {{ content }}
            
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <div id='copyright'>
                        Copyright 2017 Joost De Cock
                        <br>
                        <a href="/license">License info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include closing-core.html %}
  </body>
</html>
