<!DOCTYPE html>
<html lang="en">
<head>
    {% include head-core.html %}
    
    <!-- Custom styles 
    ================================================== -->
    <link href="{{ site.baseurl }}/css/syntax-highlighting.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/offcanvas.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/freesewing.css" rel="stylesheet">

    <script type='text/javascript'>
        $(function() {
            $('#markdown-toc').detach().appendTo('#oc-right'); 
            $('.sticky').Stickyfill();
        });
    </script>
</head>

<body class="with-navbar">
   <span class="oc-overlay"></span>

   {% include navbar.html %}

    <div id="oc-left" class="oc-panel" data-side="left">
        {% include main-menu.html %}
    </div>


    <div class="container fade-oc-left">

        {{ content }}

    </div><!-- /.container -->

    {% include scroller.html %}

    {% include footer.html %}

    {% include closing-core.html %}
  </body>
</html>
