<!DOCTYPE html>
<html lang="en">
<head>
    {% include start-page.html %}

    <!-- Demo code -->
    <script src="/js/demo.js"></script>
    <script type='text/javascript'>
        $(function() {
            $(document).on('click', '.demo-trigger', function() { demo($(this)); });
        });
    </script>
</head>
<body>
    <span class="oc-overlay"></span>
    <a class="oc-toggle left burger" id="hamburger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    <div id="oc-left" class="oc-panel" data-side="left">
        {% include side-menu.html %}
    </div>
    {% include header.html %}
    <div class="fade-oc">
        {{ content }}
    </div>
    {% include scroller.html %}
    {% include footer.html %}
    {% include end-page.html %}
  </body>
</html>
