---
layout: default
---
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">{% if page.namespace %}<small>Class \{{ page.namespace }}\ </small><br>{% endif %}{{ page.title | escape }}</h1>
            {% include breadcrumbs.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12 paper">
            <section id="content">
                <article class="page">
                    {{ content }}
                </article>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include tags.html %}
        </div>
    </div>
</div><!-- /.container -->
