---
layout: default
---
{% include header.html %}
<div class="container">
{% unless page.nopatronbanner %}
    <div class="row non-patrons-only hidden" id="patrons-banner">
        <div class="col-md-8">
                 {% include blockquote.html
                     bg='transparent linear-gradient(45deg, rgb(255, 91, 119) 0%, rgb(251, 66, 102) 50%, rgb(243, 52, 87) 71%, rgb(255, 77, 109) 100%) repeat scroll 0% 0%;'
                     icon='check'
                     tcolor='#fff'
                     icolor='#fff'
                     content="<h3>Join the Freesewing Patrons</h3><h4>We are building a bedrock of loyal supporters to ensure a sustainable future for freesewing.org, our code, our patterns, and our community.</h4><p class='text-right'><a href='/patrons/join' class='btn btn-outline-white mt-2'>Find out more</a></p>"
                 %}
        </div>
    </div>
{% endunless %}
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">{% if page.namespace %}<small>Class \{{ page.namespace }}\ </small><br>{% endif %}{{ page.title | escape }}</h1>
            {% include breadcrumbs.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 paper">
            <section id="content">
                <article class="page">
                    {{ content }}
                </article>
            </section>
        </div>
        <div class="col-md-4 col-sm-12">
            <aside id="toc" class="sticky">
                <div id="oc-right" class="oc-panel" data-side="right">
                    <h3 id='toc-title' class="mt-5">Contents</h3>
                </div>
            </aside>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include tags.html %}
        </div>
    </div>
    <div class="row mt-2">
        <div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
    </div>
</div><!-- /.container -->
