---
layout: default
---
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">{{ page.title | escape }}</h1>
            {% include breadcrumbs.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 paper">
            <section id="content">
                <article class="page">
                    {{ content }}
                </article>
            </section>
        </div>
        <div class="col-md-4 col-sm-12">
            <div id="oc-right-wrapper">
                <aside id="toc" class="sticky">
                    <div id="oc-right" class="oc-panel" data-side="right">
                        <h3 id='toc-title' class="mt-5">Contents</h3>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include tags.html %}
        </div>
    </div>
</div><!-- /.container -->
