---
layout: default
---
{% assign chunks = page.url | split: '/' %}
{% include header.html %}
<div class="container">
    {% include breadcrumbs.html %}
    <div class="row mt-5" id="posthead">
        <div class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5">
            <figure class="image">
                <img alt="{{ page.caption }}" src="/img/patterns/{{ chunks[2] }}/showcase/{{ page.img }}" class="img img-responsive drop-shadow">
                <figcaption>{{ page.caption }} <a target="_BLANK" href="{{ page.img }}"><i aria-hidden="true" class="fa fa-external-link"></i></a></figcaption>
            </figure>
            <h1 class="post">{{ page.title | escape }}</h1>
        </div>
    </div>
    <div class="row" id="post">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 post">
            <article> 
                {{ content }}
            </article>
        </div>
    </div>
    <div class="row mt-2">
        <div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
    </div>
</div><!-- /.container -->
