---
layout: default
---
{% assign chunks = page.url | split: '/' %}
{% include header.html %}
<div class="container">
    {% include breadcrumbs.html %}
    <div class="row mt-5" id="posthead">
        <div class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5">
            <div class="row">
                <div class="col post-meta"><a href="/showcase/pattern/{{ page.categories }}" title="Browse other showcases of this pattern">{{ page.categories }}</a></div>
                <div class="col post-meta text-center">{{ page.date | date: "%A, %B %-d, %Y" }}</div>
                <div class="col post-meta text-right"><a href="/showcase/maker/{{ page.author | downcase | replace: ' ', '' }}" title="Browse other showcases by this maker">{{ page.author }}</a></div>
            </div>
            <figure class="image">
                <a target="_BLANK" href="/img{{page.url}}high_{{ page.img }}" title="Open hi-res picture in a new window">
                    <img 
                        src="/img{{ page.url }}lqip_{{ page.img }}" 
                        data-sizes="auto"
                        data-srcset="
                            /img{{ page.url }}lqip_{{ page.img }} 25w,
                            /img{{ page.url }}low_{{ page.img }} 500w,
                            /img{{ page.url }}med_{{ page.img }} 1000w,
                            /img{{ page.url }}high_{{ page.img }} 2000w"
                        alt="{{ page.caption }}" 
                        class="lazyload drop-shadow"
                    >
                </a>
                {% if page.caption %}
                <figcaption>{{ page.caption }}</figcaption>
                {% endif %}
            </figure>
            <h1 class="post">{{ page.title | escape }}</h1>
        </div>
    </div>
    <div class="row" id="post">
        <div class="col-xl-7 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 post">
            <article> 
                {{ content }}
            </article>
        </div>
    </div>
    <div class="row mt-2">
        <div id="comments-container" class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0 mb-5"></div>
    </div>
</div><!-- /.container -->
