---
layout: default
---
<style>
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-image: url('/img/slack.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  background: rgba(255,255,255,0.42);
  padding: 2rem;
  max-width: 38rem;
}
@media (max-width: 991px) {
    .jumbotron .container {
        max-width: 90%;
    }
}
.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  min-height: 6rem;
}
#extra {
    margin: 5rem 0;
}
#scroller,
a.navbar-toggler-right {
    display: none;
}
</style>
    <div class="album text-muted">
      <div class="container">
        <h1 class="text-center mb-5">Freesewing documentation</h1>
        <div class="row">
            <div class="col-md-4">
          <div class="card">
            <img src="/img/makers.jpg" alt="Documentation for makers">
            <div class="card-block">
                <h4 class="card-title">For makers</h4>
                <p class="card-text">Making something new? Need a little help? We've got detailed instructions for for all our sewing patterns.</p>
                <a href="/makers" class="btn btn-primary">Pattern documentation</a>
            </div>
          </div>
          </div>
            <div class="col-md-4">
          <div class="card">
            <img src="/img/designers.jpg" alt="Documentation for designers">
            <div class="card-block">
                <h4 class="card-title">For designers</i></h4>
                <p class="card-text">Curious about what freesewing can do for you as a designer? Learn how you can design your own patterns using our tools.</p>
                <a href="/designers" class="btn btn-primary">Design documentation</a>
            </div>
          </div>
          </div>
            <div class="col-md-4">
          <div class="card">
            <img src="/img/developers.jpg" alt="Documentation for developers">
            <div class="card-block">
                <h4 class="card-title">For developers</h4>
                <p class="card-text">Do you care for code? Do you want to learn or help us out? Or are you merely curious about how the sausage gets made?</p>
                <a href="/developers" class="btn btn-primary">Code documentation</a>
            </div>
          </div>
          </div>

        </div>

      </div>
    </div>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hey, are you on Slack yet?</h1>
        <p class="lead">
            We hope this documentation will answer all of your questions.
            <br>
            When it doesn't, there's people to talk to.
        </p>
        <p>
          <a href="/slack" class="btn btn-lg btn-primary">Join our Slack channel</a>
        </p>
      </div>
    </section>
    <section id='extra'>
        <div class="container">
            <div class="row">
            <div class='col-md-6 mb-5'>
                <h2>Just not sure where to start?</h2>
                <p>If you're new to freesewing, this is for you.</p>
                <a href="/getting-started" class="btn btn-primary">Getting started</a>
            </div>
            <div class='col-md-6 mb-5'>
                <h3>Still confused? That happens.</h2>
                <p>Talk to use about it, so we can fix it.</p>
                <a href="/contact" class="btn btn-primary">Contact info</a>
            </div>
            </div>
        </div>
    </section>


